.component-container {
    display: inline-block;
    position: relative;
    vertical-align: top;

    .dropdown-content {
        height: 300px;
        left:0;
        margin: auto;
        right:0;
        top: 35px;
        width: 150px;

        li {
            text-align: center;
        }
    }
}

.component {
    background-color: #DDD;
    border: 4px solid #DDD;
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 14px !important;
    margin: 0 8px 16px;
    overflow: hidden;
    width: 470px;

    .component-title {
        h3 {
            display: inline-block;
            font-size: 17px;
            margin: 3px 0 2px;
        }

        .dropdown-arrow {
            display: inline-block;
            margin-top: 4px;
            vertical-align: top;
        }

        .icon-left-open, .icon-right-open {
            cursor: pointer;
            color: black;
            position: absolute;
            text-decoration: none;
            top: 11px;
        }

        .icon-left-open {
            left: 20px;
        }

        .icon-right-open {
            right: 20px;
        }
    }

    tr:nth-child(even) {
        background: #ebebeb;
    }

    th, td {
        padding: 4px 0;
        text-align: center;
    }

    td {
        min-width: 26px;

        i {
            color: black;
        }
    }

    .component-column-main {
        text-align: left;

        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 130px;
            display: inline-block;
            margin-top: 2px;
            overflow: hidden;

            &.is-winner {
                text-decoration: underline;
            }
        }

        .icon-flag, .icon-logo {
            display: inline-block;
            vertical-align: top;
        }

        .icon-flag {
            margin-top: 4px;
        }
    }

    .component-column-right {
        text-align: right;
    }

    .component-column-score {
        padding: 0 8px;

        .score-separation {
            margin: 0 6px;
        }
    }

    .component-column-country {
        span {
            max-width: 90px;
        }
    }

    td.table-container {
        padding: 0;

        table {
            background-color: #ebebeb;
            border-collapse: collapse;
            width: 100%;

            tr:nth-child(even) {
                background: #DDD;
            }
        }
    }  
}