@import "commons/ad.less";
@import "commons/footer.less";
@import "commons/header.less";
@import "commons/titles.less";
@import "components/components.less";
@import "pages/home.less";
@import "misc/sprite.css";
@import "../fontello/css/fontello.css";

html {
    height: 100%;
}

body {
    background-color: #fafafa;
    color: #212121;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: 100%;
    font-size: 14px !important;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    margin: 0;
    min-width: 500px;

    * {
        box-sizing: border-box;
    }
}

.wrapper {
    min-height: 100%;
    margin: 80px auto -40px;
    padding-bottom: 50px;
}

.content {
    margin: auto;
    margin-top: 16px;
    max-width: 1000px;
    padding: 0 8px;
    text-align: center;
}