html {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-size: 14px !important;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    min-width: 500px;

    * {
        box-sizing: border-box;
    }
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -40px;
    padding-bottom: 50px;
}

.content {
    margin: auto;
    margin-top: 16px;
    max-width: 1000px;
    padding: 0 8px;
    text-align: center;
}

.header-main {
    margin: 56px 0 25px;

    h1 {
        font-size: 56px;
        margin: 0;
        margin-bottom: 40px;
    }

    h3 {
        font-size: 20px;
        font-weight: normal;
        margin: auto;
        max-width: 630px;
    }
}

.header-sub {
    display: inline-block;
    margin: 0 0 16px;
    padding: 4px;
    position: relative;

    .header-icon, h1 {
        display: inline-block;
        vertical-align: top;
    }

    .header-icon {
        margin: 3px 5px;
    }

    h1 {
        margin: 0;
        padding: 15px 0 15px 6px;
    }

    select, option {
        font-size: 20px;
        text-transform: capitalize;
        margin: 19px 5px 0;
        padding: 0 3px;
    }
}