html {
    height: 100%;
}

body {
    background-color: #F5F5F5;
    font-size: 13px !important;
    font-family: Arial,Helvetica,sans-serif;
    height: 100%;
    margin: 0;
    min-width: 500px;

    * {
        box-sizing: border-box;
    }
}

.wrapper {
    min-height: 100%;
    margin: 0 auto -40px;
    padding-bottom: 50px;
}

.content {
    margin: auto;
    margin-top: 16px;
    max-width: 1000px;
    padding: 0 8px;
    text-align: center;
}

.header-main {
    margin: 56px 0;

    h1 {
        font-size: 56px; 
        margin: 0;
        margin-bottom: 48px;
    }
    
    h3 {
        font-size: 20px;
        font-weight: normal;
        margin: auto;
        max-width: 630px;
    }
}

.header-sub {
    display: inline-block;
    margin: 0 0 16px;
    padding: 4px;
    
    img, h1, .arrow {
        display: inline-block;
        vertical-align: top;
    }
    
    img {
        margin: 3px 5px;
        height: 56px;
        width: 56px;
    }
    
    h1 {
        margin: 0;
        padding: 15px 0 15px 6px;

        .year {
            cursor: pointer;
            font-size: 20px;
            font-weight: normal;
            padding-left: 18px;    
        }
    }

    .arrow {
        cursor: pointer;
        width: 16px;
        height: 16px;
        margin-top: 24px;
        background-image: url(data:image/svg+xml;utf8;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIHZpZXdCb3g9IjAgMCAxMjkgMTI5IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCAxMjkgMTI5IiB3aWR0aD0iMTZweCIgaGVpZ2h0PSIxNnB4Ij4KICA8Zz4KICAgIDxwYXRoIGQ9Im0xMjEuMywzNC42Yy0xLjYtMS42LTQuMi0xLjYtNS44LDBsLTUxLDUxLjEtNTEuMS01MS4xYy0xLjYtMS42LTQuMi0xLjYtNS44LDAtMS42LDEuNi0xLjYsNC4yIDAsNS44bDUzLjksNTMuOWMwLjgsMC44IDEuOCwxLjIgMi45LDEuMiAxLDAgMi4xLTAuNCAyLjktMS4ybDUzLjktNTMuOWMxLjctMS42IDEuNy00LjIgMC4xLTUuOHoiIGZpbGw9IiMwMDAwMDAiLz4KICA8L2c+Cjwvc3ZnPgo=)
    }
}