.component {
    background-color: #DDD;
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 13px !important;
    margin: 0 15px 15px;
    
    &.component-big {
        height: 470px;
        width: 470px;
    }

    &.component-large {
        height: 230px;
        width: 470px;
    }

    .component-title {
        img {
            height: 20px;
            vertical-align: top;
        }

        h1 {
            display: inline-block;
            font-size: 12px;
            margin: 5px 0;
        }
    }

    tr:nth-child(even) {
        background: #ebebeb;
    }

    th, td {
        border-collapse: collapse;
        text-align: center;
    }

    td {
        min-width: 26px;
    }

    .component-main-column {
        text-align: left;

        img {
            height: 15px;
        }

        span {
            text-overflow: ellipsis;
            white-space: nowrap;
            max-width: 130px;
            display: inline-block;
            overflow: hidden;
        }
    }

    .component-right-column {
        text-align: right;
    }
}