#configuration {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    display: none;
    padding: 10px 15px;

    .configuration-league {
        &:not(:last-child) {
            padding-bottom: 5px;            
        }

        .configuration-league-name {
            display: inline-block;
            padding-top: 10px;
            width: 110px;
        }
        
        .configuration-components {
            display: inline-block;
            vertical-align: top;
            
            div {
                background-color: white;
                border: 1px solid black;
                border-radius: 4px;
                cursor: pointer;
                display: inline-block;
                padding: 10px 2px;
                text-align: center;
                vertical-align: top;
                width: 85px;

                &.selected {
                    background-color: #004756;
                    color: white;
                }
            }
        }
    }
}