#content {
    margin: 10px 20px;

    .packery-drop-placeholder {
        outline: 3px dashed hsla(0, 0%, 0%, 0.5);
        outline-offset: -6px;
        -webkit-transition: -webkit-transform 0.2s;
        transition: transform 0.2s;
    }
}