#content {
    .gridster {
        margin: 0 auto;
        opacity: .9;
        transition: opacity .6s;

        * {
            margin: 0;
            padding: 0;
        }

        .gs-w {
            background-color: white;
            cursor: pointer;
        }

        .preview-holder {
            border: none !important;
            background: #BBB !important;
        }
    }
}