#index {   
    .items {
        margin-bottom: 50px;

        .item {
            background-color: #ebebeb;
            border: 2px solid #DDD;
            border-radius: 4px;
            color: black;
            display: inline-block;
            height: 125px;
            margin: 0 8px 16px;
            padding: 10px 4px;
            text-decoration: none;
            text-align: center;
            vertical-align: top;
            width: 120px;

            &:hover {
                background-color: #dbdada;
                transform: scale(1.05);
            }
            
            .item-icon {
                display: inline-block;
            }

            .item-title {
                height: 50px;
                line-height: 50px;

                h2 {
                    display: inline-block;
                    line-height: 20px;
                    margin: 0;
                    font-size: 16px;
                    vertical-align: middle;
                }
            }
        }
    }
}