#menu {
    background-color: white;
    border-bottom: 1px solid rgba(0,0,0,0.15);
    height: 46px;
    width: 100%;
    
    .menu-item {
        cursor: pointer;
        padding: 15px;
        
        &:hover {
            color: #004756;
        }
        
        &.menu-item-open {
            background-color: #004756;
            color: white;
            display: inline-block;         
        }
    }
}