#menu {
    background-color: white;
    font-size: 17px !important;
    font-weight: bold;
    height: 50px;
    text-align: center;
    width: 100%;

    .menu-item {
        cursor: pointer;
        color: black;
        display: inline-block;
        padding: 15px 8px;
        text-decoration: none;

        &:hover span {
            border-bottom:5px solid #004756;
        }

        &.menu-item-open {
            background-color: #004756;
            color: white;
        }
    }
}