/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-albania {
  background-image: url(../images/sprite.png);
  background-position: -234px -352px;
  width: 18px;
  height: 12px;
}
.icon-algeria {
  background-image: url(../images/sprite.png);
  background-position: -342px -340px;
  width: 18px;
  height: 12px;
}
.icon-argentina {
  background-image: url(../images/sprite.png);
  background-position: -144px -328px;
  width: 18px;
  height: 12px;
}
.icon-armenia {
  background-image: url(../images/sprite.png);
  background-position: -216px -352px;
  width: 18px;
  height: 12px;
}
.icon-australia {
  background-image: url(../images/sprite.png);
  background-position: -198px -352px;
  width: 18px;
  height: 12px;
}
.icon-austria {
  background-image: url(../images/sprite.png);
  background-position: -180px -352px;
  width: 18px;
  height: 12px;
}
.icon-belarus {
  background-image: url(../images/sprite.png);
  background-position: -162px -352px;
  width: 18px;
  height: 12px;
}
.icon-belgium {
  background-image: url(../images/sprite.png);
  background-position: -144px -352px;
  width: 18px;
  height: 12px;
}
.icon-benin {
  background-image: url(../images/sprite.png);
  background-position: -126px -352px;
  width: 18px;
  height: 12px;
}
.icon-bosnia_herzegovina {
  background-image: url(../images/sprite.png);
  background-position: -108px -352px;
  width: 18px;
  height: 12px;
}
.icon-brazil {
  background-image: url(../images/sprite.png);
  background-position: -90px -352px;
  width: 18px;
  height: 12px;
}
.icon-bulgaria {
  background-image: url(../images/sprite.png);
  background-position: -72px -352px;
  width: 18px;
  height: 12px;
}
.icon-burkina_faso {
  background-image: url(../images/sprite.png);
  background-position: -54px -352px;
  width: 18px;
  height: 12px;
}
.icon-cameroon {
  background-image: url(../images/sprite.png);
  background-position: -36px -352px;
  width: 18px;
  height: 12px;
}
.icon-canada {
  background-image: url(../images/sprite.png);
  background-position: -18px -352px;
  width: 18px;
  height: 12px;
}
.icon-cape_verde {
  background-image: url(../images/sprite.png);
  background-position: 0px -352px;
  width: 18px;
  height: 12px;
}
.icon-chile {
  background-image: url(../images/sprite.png);
  background-position: -328px -220px;
  width: 19px;
  height: 13px;
}
.icon-colombia {
  background-image: url(../images/sprite.png);
  background-position: -324px -340px;
  width: 18px;
  height: 12px;
}
.icon-congo {
  background-image: url(../images/sprite.png);
  background-position: -306px -340px;
  width: 18px;
  height: 12px;
}
.icon-congo_dr {
  background-image: url(../images/sprite.png);
  background-position: -288px -340px;
  width: 18px;
  height: 12px;
}
.icon-costa_rica {
  background-image: url(../images/sprite.png);
  background-position: -270px -340px;
  width: 18px;
  height: 12px;
}
.icon-croatia {
  background-image: url(../images/sprite.png);
  background-position: -252px -340px;
  width: 18px;
  height: 12px;
}
.icon-cyprus {
  background-image: url(../images/sprite.png);
  background-position: -234px -340px;
  width: 18px;
  height: 12px;
}
.icon-czech_republic {
  background-image: url(../images/sprite.png);
  background-position: -216px -340px;
  width: 18px;
  height: 12px;
}
.icon-denmark {
  background-image: url(../images/sprite.png);
  background-position: -198px -340px;
  width: 18px;
  height: 12px;
}
.icon-ecuador {
  background-image: url(../images/sprite.png);
  background-position: -180px -340px;
  width: 18px;
  height: 12px;
}
.icon-egypt {
  background-image: url(../images/sprite.png);
  background-position: -162px -340px;
  width: 18px;
  height: 12px;
}
.icon-england {
  background-image: url(../images/sprite.png);
  background-position: -144px -340px;
  width: 18px;
  height: 12px;
}
.icon-equatorial_guinea {
  background-image: url(../images/sprite.png);
  background-position: -126px -340px;
  width: 18px;
  height: 12px;
}
.icon-eritrea {
  background-image: url(../images/sprite.png);
  background-position: -108px -340px;
  width: 18px;
  height: 12px;
}
.icon-finland {
  background-image: url(../images/sprite.png);
  background-position: -90px -340px;
  width: 18px;
  height: 12px;
}
.icon-france {
  background-image: url(../images/sprite.png);
  background-position: -72px -340px;
  width: 18px;
  height: 12px;
}
.icon-gabon {
  background-image: url(../images/sprite.png);
  background-position: -54px -340px;
  width: 18px;
  height: 12px;
}
.icon-georgia {
  background-image: url(../images/sprite.png);
  background-position: -36px -340px;
  width: 18px;
  height: 12px;
}
.icon-germany {
  background-image: url(../images/sprite.png);
  background-position: -18px -340px;
  width: 18px;
  height: 12px;
}
.icon-ghana {
  background-image: url(../images/sprite.png);
  background-position: 0px -340px;
  width: 18px;
  height: 12px;
}
.icon-gibraltar {
  background-image: url(../images/sprite.png);
  background-position: -348px -324px;
  width: 18px;
  height: 12px;
}
.icon-greece {
  background-image: url(../images/sprite.png);
  background-position: -348px -312px;
  width: 18px;
  height: 12px;
}
.icon-grenada {
  background-image: url(../images/sprite.png);
  background-position: -348px -300px;
  width: 18px;
  height: 12px;
}
.icon-guadeloupe {
  background-image: url(../images/sprite.png);
  background-position: -348px -288px;
  width: 18px;
  height: 12px;
}
.icon-guinea {
  background-image: url(../images/sprite.png);
  background-position: -348px -276px;
  width: 18px;
  height: 12px;
}
.icon-honduras {
  background-image: url(../images/sprite.png);
  background-position: -348px -264px;
  width: 18px;
  height: 12px;
}
.icon-hungary {
  background-image: url(../images/sprite.png);
  background-position: -348px -252px;
  width: 18px;
  height: 12px;
}
.icon-iceland {
  background-image: url(../images/sprite.png);
  background-position: -348px -240px;
  width: 18px;
  height: 12px;
}
.icon-iran {
  background-image: url(../images/sprite.png);
  background-position: -348px -228px;
  width: 18px;
  height: 12px;
}
.icon-ireland {
  background-image: url(../images/sprite.png);
  background-position: -348px -216px;
  width: 18px;
  height: 12px;
}
.icon-israel {
  background-image: url(../images/sprite.png);
  background-position: -348px -204px;
  width: 18px;
  height: 12px;
}
.icon-italy {
  background-image: url(../images/sprite.png);
  background-position: -348px -192px;
  width: 18px;
  height: 12px;
}
.icon-ivory_coast {
  background-image: url(../images/sprite.png);
  background-position: -328px -233px;
  width: 18px;
  height: 12px;
}
.icon-jamaica {
  background-image: url(../images/sprite.png);
  background-position: -348px -168px;
  width: 18px;
  height: 12px;
}
.icon-japan {
  background-image: url(../images/sprite.png);
  background-position: -348px -156px;
  width: 18px;
  height: 12px;
}
.icon-kenya {
  background-image: url(../images/sprite.png);
  background-position: -348px -144px;
  width: 18px;
  height: 12px;
}
.icon-latvia {
  background-image: url(../images/sprite.png);
  background-position: -348px -132px;
  width: 18px;
  height: 12px;
}
.icon-lebanon {
  background-image: url(../images/sprite.png);
  background-position: -348px -120px;
  width: 18px;
  height: 12px;
}
.icon-lithuania {
  background-image: url(../images/sprite.png);
  background-position: -348px -108px;
  width: 18px;
  height: 12px;
}
.icon-macedonia {
  background-image: url(../images/sprite.png);
  background-position: -348px -96px;
  width: 18px;
  height: 12px;
}
.icon-mali {
  background-image: url(../images/sprite.png);
  background-position: -348px -84px;
  width: 18px;
  height: 12px;
}
.icon-martinique {
  background-image: url(../images/sprite.png);
  background-position: -348px -72px;
  width: 18px;
  height: 12px;
}
.icon-mexico {
  background-image: url(../images/sprite.png);
  background-position: -348px -60px;
  width: 18px;
  height: 12px;
}
.icon-montenegro {
  background-image: url(../images/sprite.png);
  background-position: -348px -48px;
  width: 18px;
  height: 12px;
}
.icon-morocco {
  background-image: url(../images/sprite.png);
  background-position: -348px -36px;
  width: 18px;
  height: 12px;
}
.icon-netherlands {
  background-image: url(../images/sprite.png);
  background-position: -348px -24px;
  width: 18px;
  height: 12px;
}
.icon-new_zealand {
  background-image: url(../images/sprite.png);
  background-position: -348px -12px;
  width: 18px;
  height: 12px;
}
.icon-niger {
  background-image: url(../images/sprite.png);
  background-position: -348px 0px;
  width: 18px;
  height: 12px;
}
.icon-nigeria {
  background-image: url(../images/sprite.png);
  background-position: -324px -328px;
  width: 18px;
  height: 12px;
}
.icon-northern_ireland {
  background-image: url(../images/sprite.png);
  background-position: -306px -328px;
  width: 18px;
  height: 12px;
}
.icon-norway {
  background-image: url(../images/sprite.png);
  background-position: -288px -328px;
  width: 18px;
  height: 12px;
}
.icon-paraguay {
  background-image: url(../images/sprite.png);
  background-position: -270px -328px;
  width: 18px;
  height: 12px;
}
.icon-peru {
  background-image: url(../images/sprite.png);
  background-position: -252px -328px;
  width: 18px;
  height: 12px;
}
.icon-poland {
  background-image: url(../images/sprite.png);
  background-position: -234px -328px;
  width: 18px;
  height: 12px;
}
.icon-portugal {
  background-image: url(../images/sprite.png);
  background-position: -216px -328px;
  width: 18px;
  height: 12px;
}
.icon-reunion {
  background-image: url(../images/sprite.png);
  background-position: -198px -328px;
  width: 18px;
  height: 12px;
}
.icon-romania {
  background-image: url(../images/sprite.png);
  background-position: -180px -328px;
  width: 18px;
  height: 12px;
}
.icon-russia {
  background-image: url(../images/sprite.png);
  background-position: -162px -328px;
  width: 18px;
  height: 12px;
}
.icon-scotland {
  background-image: url(../images/sprite.png);
  background-position: -252px -352px;
  width: 17px;
  height: 12px;
}
.icon-senegal {
  background-image: url(../images/sprite.png);
  background-position: -126px -328px;
  width: 18px;
  height: 12px;
}
.icon-serbia {
  background-image: url(../images/sprite.png);
  background-position: -108px -328px;
  width: 18px;
  height: 12px;
}
.icon-sierra_leone {
  background-image: url(../images/sprite.png);
  background-position: -90px -328px;
  width: 18px;
  height: 12px;
}
.icon-slovakia {
  background-image: url(../images/sprite.png);
  background-position: -72px -328px;
  width: 18px;
  height: 12px;
}
.icon-slovenia {
  background-image: url(../images/sprite.png);
  background-position: -54px -328px;
  width: 18px;
  height: 12px;
}
.icon-south_africa {
  background-image: url(../images/sprite.png);
  background-position: -36px -328px;
  width: 18px;
  height: 12px;
}
.icon-south_korea {
  background-image: url(../images/sprite.png);
  background-position: -18px -328px;
  width: 18px;
  height: 12px;
}
.icon-spain {
  background-image: url(../images/sprite.png);
  background-position: 0px -328px;
  width: 18px;
  height: 12px;
}
.icon-sweden {
  background-image: url(../images/sprite.png);
  background-position: -146px -152px;
  width: 18px;
  height: 12px;
}
.icon-switzerland {
  background-image: url(../images/sprite.png);
  background-position: -128px -152px;
  width: 18px;
  height: 12px;
}
.icon-togo {
  background-image: url(../images/sprite.png);
  background-position: -110px -152px;
  width: 18px;
  height: 12px;
}
.icon-trinidad___tobago {
  background-image: url(../images/sprite.png);
  background-position: -92px -152px;
  width: 18px;
  height: 12px;
}
.icon-tunisia {
  background-image: url(../images/sprite.png);
  background-position: -74px -152px;
  width: 18px;
  height: 12px;
}
.icon-turkey {
  background-image: url(../images/sprite.png);
  background-position: -56px -152px;
  width: 18px;
  height: 12px;
}
.icon-ukraine {
  background-image: url(../images/sprite.png);
  background-position: -328px -305px;
  width: 18px;
  height: 12px;
}
.icon-uruguay {
  background-image: url(../images/sprite.png);
  background-position: -328px -293px;
  width: 18px;
  height: 12px;
}
.icon-usa {
  background-image: url(../images/sprite.png);
  background-position: -328px -281px;
  width: 18px;
  height: 12px;
}
.icon-uzbekistan {
  background-image: url(../images/sprite.png);
  background-position: -328px -269px;
  width: 18px;
  height: 12px;
}
.icon-venezuela {
  background-image: url(../images/sprite.png);
  background-position: -328px -257px;
  width: 18px;
  height: 12px;
}
.icon-wales {
  background-image: url(../images/sprite.png);
  background-position: -328px -245px;
  width: 18px;
  height: 12px;
}
.icon-zimbabwe {
  background-image: url(../images/sprite.png);
  background-position: -348px -180px;
  width: 18px;
  height: 12px;
}
.icon-bundesliga {
  background-image: url(../images/sprite.png);
  background-position: 0px -112px;
  width: 56px;
  height: 56px;
}
.icon-champions-league {
  background-image: url(../images/sprite.png);
  background-position: -112px -56px;
  width: 56px;
  height: 56px;
}
.icon-europa-league {
  background-image: url(../images/sprite.png);
  background-position: -112px 0px;
  width: 56px;
  height: 56px;
}
.icon-liga {
  background-image: url(../images/sprite.png);
  background-position: -56px -56px;
  width: 56px;
  height: 56px;
}
.icon-ligue-1 {
  background-image: url(../images/sprite.png);
  background-position: 0px -56px;
  width: 56px;
  height: 56px;
}
.icon-premier-league {
  background-image: url(../images/sprite.png);
  background-position: -56px 0px;
  width: 56px;
  height: 56px;
}
.icon-serie-a {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 56px;
  height: 56px;
}
.icon-1899_hoffenheim {
  background-image: url(../images/sprite.png);
  background-position: -220px -228px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_kaiserslautern {
  background-image: url(../images/sprite.png);
  background-position: -248px 0px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_koln {
  background-image: url(../images/sprite.png);
  background-position: -248px -20px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_nurnberg {
  background-image: url(../images/sprite.png);
  background-position: -248px -40px;
  width: 20px;
  height: 20px;
}
.icon-1__fsv_mainz_05 {
  background-image: url(../images/sprite.png);
  background-position: -248px -60px;
  width: 20px;
  height: 20px;
}
.icon-aalborg_bk {
  background-image: url(../images/sprite.png);
  background-position: -248px -80px;
  width: 20px;
  height: 20px;
}
.icon-ac_ajaccio {
  background-image: url(../images/sprite.png);
  background-position: -248px -120px;
  width: 20px;
  height: 20px;
}
.icon-ac_arles_avignon {
  background-image: url(../images/sprite.png);
  background-position: -248px -140px;
  width: 20px;
  height: 20px;
}
.icon-ac_cesena {
  background-image: url(../images/sprite.png);
  background-position: -248px -160px;
  width: 20px;
  height: 20px;
}
.icon-ac_milan {
  background-image: url(../images/sprite.png);
  background-position: -248px -180px;
  width: 20px;
  height: 20px;
}
.icon-ac_siena {
  background-image: url(../images/sprite.png);
  background-position: -248px -200px;
  width: 20px;
  height: 20px;
}
.icon-acf_fiorentina {
  background-image: url(../images/sprite.png);
  background-position: -248px -100px;
  width: 20px;
  height: 20px;
}
.icon-afc_ajax {
  background-image: url(../images/sprite.png);
  background-position: -248px -220px;
  width: 20px;
  height: 20px;
}
.icon-afc_bournemouth {
  background-image: url(../images/sprite.png);
  background-position: 0px -248px;
  width: 20px;
  height: 20px;
}
.icon-aj_auxerre {
  background-image: url(../images/sprite.png);
  background-position: -20px -248px;
  width: 20px;
  height: 20px;
}
.icon-angers_sco {
  background-image: url(../images/sprite.png);
  background-position: -40px -248px;
  width: 20px;
  height: 20px;
}
.icon-anzhi_makhachkala {
  background-image: url(../images/sprite.png);
  background-position: -60px -248px;
  width: 20px;
  height: 20px;
}
.icon-apoel_nikosia {
  background-image: url(../images/sprite.png);
  background-position: -80px -248px;
  width: 20px;
  height: 20px;
}
.icon-arsenal_fc {
  background-image: url(../images/sprite.png);
  background-position: -100px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_bari {
  background-image: url(../images/sprite.png);
  background-position: -140px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_livorno {
  background-image: url(../images/sprite.png);
  background-position: -160px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_monaco {
  background-image: url(../images/sprite.png);
  background-position: -180px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_nancy {
  background-image: url(../images/sprite.png);
  background-position: -200px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_roma {
  background-image: url(../images/sprite.png);
  background-position: -220px -248px;
  width: 20px;
  height: 20px;
}
.icon-as_saint_etienne {
  background-image: url(../images/sprite.png);
  background-position: -240px -248px;
  width: 20px;
  height: 20px;
}
.icon-aston_villa {
  background-image: url(../images/sprite.png);
  background-position: -120px -248px;
  width: 20px;
  height: 20px;
}
.icon-atalanta {
  background-image: url(../images/sprite.png);
  background-position: -268px 0px;
  width: 20px;
  height: 20px;
}
.icon-athletic_bilbao {
  background-image: url(../images/sprite.png);
  background-position: -268px -20px;
  width: 20px;
  height: 20px;
}
.icon-atletico_madrid {
  background-image: url(../images/sprite.png);
  background-position: -268px -40px;
  width: 20px;
  height: 20px;
}
.icon-az_alkmaar {
  background-image: url(../images/sprite.png);
  background-position: -268px -60px;
  width: 20px;
  height: 20px;
}
.icon-bayer_leverkusen {
  background-image: url(../images/sprite.png);
  background-position: -268px -100px;
  width: 20px;
  height: 20px;
}
.icon-bayern_munchen {
  background-image: url(../images/sprite.png);
  background-position: -268px -80px;
  width: 20px;
  height: 20px;
}
.icon-be_ikta_ {
  background-image: url(../images/sprite.png);
  background-position: -268px -120px;
  width: 20px;
  height: 20px;
}
.icon-birmingham_city {
  background-image: url(../images/sprite.png);
  background-position: -268px -140px;
  width: 20px;
  height: 20px;
}
.icon-blackburn_rovers {
  background-image: url(../images/sprite.png);
  background-position: -268px -160px;
  width: 20px;
  height: 20px;
}
.icon-blackpool_fc {
  background-image: url(../images/sprite.png);
  background-position: -268px -180px;
  width: 20px;
  height: 20px;
}
.icon-bologna_fc {
  background-image: url(../images/sprite.png);
  background-position: -268px -200px;
  width: 20px;
  height: 20px;
}
.icon-bolton_wanderers {
  background-image: url(../images/sprite.png);
  background-position: -268px -220px;
  width: 20px;
  height: 20px;
}
.icon-bor__monchengladbach {
  background-image: url(../images/sprite.png);
  background-position: 0px -268px;
  width: 20px;
  height: 20px;
}
.icon-borussia_dortmund {
  background-image: url(../images/sprite.png);
  background-position: -268px -240px;
  width: 20px;
  height: 20px;
}
.icon-brescia_calcio {
  background-image: url(../images/sprite.png);
  background-position: -20px -268px;
  width: 20px;
  height: 20px;
}
.icon-bsc_young_boys {
  background-image: url(../images/sprite.png);
  background-position: -40px -268px;
  width: 20px;
  height: 20px;
}
.icon-burnley_fc {
  background-image: url(../images/sprite.png);
  background-position: -60px -268px;
  width: 20px;
  height: 20px;
}
.icon-ca_osasuna {
  background-image: url(../images/sprite.png);
  background-position: -160px -268px;
  width: 20px;
  height: 20px;
}
.icon-cagliari_calcio {
  background-image: url(../images/sprite.png);
  background-position: -80px -268px;
  width: 20px;
  height: 20px;
}
.icon-calcio_catania {
  background-image: url(../images/sprite.png);
  background-position: -100px -268px;
  width: 20px;
  height: 20px;
}
.icon-cardiff_city {
  background-image: url(../images/sprite.png);
  background-position: -120px -268px;
  width: 20px;
  height: 20px;
}
.icon-carpi_fc {
  background-image: url(../images/sprite.png);
  background-position: -140px -268px;
  width: 20px;
  height: 20px;
}
.icon-celta_vigo {
  background-image: url(../images/sprite.png);
  background-position: -180px -268px;
  width: 20px;
  height: 20px;
}
.icon-celtic_fc {
  background-image: url(../images/sprite.png);
  background-position: -200px -268px;
  width: 20px;
  height: 20px;
}
.icon-cfr_cluj {
  background-image: url(../images/sprite.png);
  background-position: -220px -268px;
  width: 20px;
  height: 20px;
}
.icon-chelsea_fc {
  background-image: url(../images/sprite.png);
  background-position: -240px -268px;
  width: 20px;
  height: 20px;
}
.icon-chernomorets_odessa {
  background-image: url(../images/sprite.png);
  background-position: -260px -268px;
  width: 20px;
  height: 20px;
}
.icon-chievo_verona {
  background-image: url(../images/sprite.png);
  background-position: -288px 0px;
  width: 20px;
  height: 20px;
}
.icon-club_brugge_kv {
  background-image: url(../images/sprite.png);
  background-position: -288px -20px;
  width: 20px;
  height: 20px;
}
.icon-cordoba_cf {
  background-image: url(../images/sprite.png);
  background-position: -288px -40px;
  width: 20px;
  height: 20px;
}
.icon-crystal_palace {
  background-image: url(../images/sprite.png);
  background-position: -288px -60px;
  width: 20px;
  height: 20px;
}
.icon-cska_moskva {
  background-image: url(../images/sprite.png);
  background-position: -288px -80px;
  width: 20px;
  height: 20px;
}
.icon-deportivo_la_coruna {
  background-image: url(../images/sprite.png);
  background-position: -288px -100px;
  width: 20px;
  height: 20px;
}
.icon-dijon_fco {
  background-image: url(../images/sprite.png);
  background-position: -288px -120px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_kiev {
  background-image: url(../images/sprite.png);
  background-position: -288px -140px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_moskva {
  background-image: url(../images/sprite.png);
  background-position: -288px -160px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_zagreb {
  background-image: url(../images/sprite.png);
  background-position: -56px -112px;
  width: 20px;
  height: 20px;
}
.icon-dnipro_dnipropetrovsk {
  background-image: url(../images/sprite.png);
  background-position: -288px -200px;
  width: 20px;
  height: 20px;
}
.icon-ea_guingamp {
  background-image: url(../images/sprite.png);
  background-position: -288px -220px;
  width: 20px;
  height: 20px;
}
.icon-eintracht_braunschweig {
  background-image: url(../images/sprite.png);
  background-position: -288px -240px;
  width: 20px;
  height: 20px;
}
.icon-eintracht_frankfurt {
  background-image: url(../images/sprite.png);
  background-position: -288px -260px;
  width: 20px;
  height: 20px;
}
.icon-elche_cf {
  background-image: url(../images/sprite.png);
  background-position: 0px -288px;
  width: 20px;
  height: 20px;
}
.icon-empoli_fc {
  background-image: url(../images/sprite.png);
  background-position: -20px -288px;
  width: 20px;
  height: 20px;
}
.icon-esbjerg_fb {
  background-image: url(../images/sprite.png);
  background-position: -40px -288px;
  width: 20px;
  height: 20px;
}
.icon-espanyol_barcelona {
  background-image: url(../images/sprite.png);
  background-position: -60px -288px;
  width: 20px;
  height: 20px;
}
.icon-estac_troyes {
  background-image: url(../images/sprite.png);
  background-position: -80px -288px;
  width: 20px;
  height: 20px;
}
.icon-everton_fc {
  background-image: url(../images/sprite.png);
  background-position: -100px -288px;
  width: 20px;
  height: 20px;
}
.icon-evian_thonon_gaillard {
  background-image: url(../images/sprite.png);
  background-position: -120px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_augsburg {
  background-image: url(../images/sprite.png);
  background-position: -140px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_barcelona {
  background-image: url(../images/sprite.png);
  background-position: -160px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_basel {
  background-image: url(../images/sprite.png);
  background-position: -180px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_crotone {
  background-image: url(../images/sprite.png);
  background-position: -200px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_ingolstadt_04 {
  background-image: url(../images/sprite.png);
  background-position: -220px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_k_benhavn {
  background-image: url(../images/sprite.png);
  background-position: -240px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_lorient {
  background-image: url(../images/sprite.png);
  background-position: -260px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_metz {
  background-image: url(../images/sprite.png);
  background-position: -280px -288px;
  width: 20px;
  height: 20px;
}
.icon-fc_midtjylland {
  background-image: url(../images/sprite.png);
  background-position: -308px 0px;
  width: 20px;
  height: 20px;
}
.icon-fc_nantes {
  background-image: url(../images/sprite.png);
  background-position: -308px -20px;
  width: 20px;
  height: 20px;
}
.icon-fc_porto {
  background-image: url(../images/sprite.png);
  background-position: -308px -40px;
  width: 20px;
  height: 20px;
}
.icon-fc_schalke_04 {
  background-image: url(../images/sprite.png);
  background-position: -308px -60px;
  width: 20px;
  height: 20px;
}
.icon-fc_sion {
  background-image: url(../images/sprite.png);
  background-position: -308px -80px;
  width: 20px;
  height: 20px;
}
.icon-fc_sochaux {
  background-image: url(../images/sprite.png);
  background-position: -308px -100px;
  width: 20px;
  height: 20px;
}
.icon-fc_st__pauli {
  background-image: url(../images/sprite.png);
  background-position: -308px -120px;
  width: 20px;
  height: 20px;
}
.icon-fc_twente {
  background-image: url(../images/sprite.png);
  background-position: -308px -140px;
  width: 20px;
  height: 20px;
}
.icon-fenerbahce {
  background-image: url(../images/sprite.png);
  background-position: -308px -160px;
  width: 20px;
  height: 20px;
}
.icon-feyenoord {
  background-image: url(../images/sprite.png);
  background-position: -308px -180px;
  width: 20px;
  height: 20px;
}
.icon-fk_krasnodar {
  background-image: url(../images/sprite.png);
  background-position: -308px -200px;
  width: 20px;
  height: 20px;
}
.icon-fortuna_dusseldorf {
  background-image: url(../images/sprite.png);
  background-position: -308px -220px;
  width: 20px;
  height: 20px;
}
.icon-frosinone_calcio {
  background-image: url(../images/sprite.png);
  background-position: -308px -240px;
  width: 20px;
  height: 20px;
}
.icon-fulham_fc {
  background-image: url(../images/sprite.png);
  background-position: -308px -260px;
  width: 20px;
  height: 20px;
}
.icon-galatasaray {
  background-image: url(../images/sprite.png);
  background-position: -308px -280px;
  width: 20px;
  height: 20px;
}
.icon-genoa_cfc {
  background-image: url(../images/sprite.png);
  background-position: 0px -308px;
  width: 20px;
  height: 20px;
}
.icon-getafe_cf {
  background-image: url(../images/sprite.png);
  background-position: -20px -308px;
  width: 20px;
  height: 20px;
}
.icon-gfc_ajaccio {
  background-image: url(../images/sprite.png);
  background-position: -40px -308px;
  width: 20px;
  height: 20px;
}
.icon-girondins_bordeaux {
  background-image: url(../images/sprite.png);
  background-position: -60px -308px;
  width: 20px;
  height: 20px;
}
.icon-granada_cf {
  background-image: url(../images/sprite.png);
  background-position: -80px -308px;
  width: 20px;
  height: 20px;
}
.icon-hamburger_sv {
  background-image: url(../images/sprite.png);
  background-position: -100px -308px;
  width: 20px;
  height: 20px;
}
.icon-hannover_96 {
  background-image: url(../images/sprite.png);
  background-position: -120px -308px;
  width: 20px;
  height: 20px;
}
.icon-hellas_verona {
  background-image: url(../images/sprite.png);
  background-position: -140px -308px;
  width: 20px;
  height: 20px;
}
.icon-helsingborgs_if {
  background-image: url(../images/sprite.png);
  background-position: -160px -308px;
  width: 20px;
  height: 20px;
}
.icon-hercules_cf {
  background-image: url(../images/sprite.png);
  background-position: -180px -308px;
  width: 20px;
  height: 20px;
}
.icon-hertha_bsc {
  background-image: url(../images/sprite.png);
  background-position: -200px -308px;
  width: 20px;
  height: 20px;
}
.icon-hnk_rijeka {
  background-image: url(../images/sprite.png);
  background-position: -220px -308px;
  width: 20px;
  height: 20px;
}
.icon-hull_city {
  background-image: url(../images/sprite.png);
  background-position: -240px -308px;
  width: 20px;
  height: 20px;
}
.icon-inter {
  background-image: url(../images/sprite.png);
  background-position: -260px -308px;
  width: 20px;
  height: 20px;
}
.icon-juventus {
  background-image: url(../images/sprite.png);
  background-position: -280px -308px;
  width: 20px;
  height: 20px;
}
.icon-kaa_gent {
  background-image: url(../images/sprite.png);
  background-position: -300px -308px;
  width: 20px;
  height: 20px;
}
.icon-krc_genk {
  background-image: url(../images/sprite.png);
  background-position: -328px 0px;
  width: 20px;
  height: 20px;
}
.icon-lazio_roma {
  background-image: url(../images/sprite.png);
  background-position: -328px -20px;
  width: 20px;
  height: 20px;
}
.icon-lech_pozna_ {
  background-image: url(../images/sprite.png);
  background-position: -328px -40px;
  width: 20px;
  height: 20px;
}
.icon-legia_warszawa {
  background-image: url(../images/sprite.png);
  background-position: -328px -60px;
  width: 20px;
  height: 20px;
}
.icon-leicester_city {
  background-image: url(../images/sprite.png);
  background-position: -328px -80px;
  width: 20px;
  height: 20px;
}
.icon-levante_ud {
  background-image: url(../images/sprite.png);
  background-position: -328px -100px;
  width: 20px;
  height: 20px;
}
.icon-lille_osc {
  background-image: url(../images/sprite.png);
  background-position: -328px -120px;
  width: 20px;
  height: 20px;
}
.icon-liverpool_fc {
  background-image: url(../images/sprite.png);
  background-position: -328px -140px;
  width: 20px;
  height: 20px;
}
.icon-lokomotiv_moskva {
  background-image: url(../images/sprite.png);
  background-position: -328px -160px;
  width: 20px;
  height: 20px;
}
.icon-maccabi_tel_aviv {
  background-image: url(../images/sprite.png);
  background-position: -328px -180px;
  width: 20px;
  height: 20px;
}
.icon-malaga_cf {
  background-image: url(../images/sprite.png);
  background-position: -328px -200px;
  width: 20px;
  height: 20px;
}
.icon-manchester_city {
  background-image: url(../images/sprite.png);
  background-position: -288px -180px;
  width: 20px;
  height: 20px;
}
.icon-manchester_united {
  background-image: url(../images/sprite.png);
  background-position: -200px -228px;
  width: 20px;
  height: 20px;
}
.icon-metalist_kharkov {
  background-image: url(../images/sprite.png);
  background-position: -180px -228px;
  width: 20px;
  height: 20px;
}
.icon-middlesbrough_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px -228px;
  width: 20px;
  height: 20px;
}
.icon-molde_fk {
  background-image: url(../images/sprite.png);
  background-position: -140px -228px;
  width: 20px;
  height: 20px;
}
.icon-montpellier_hsc {
  background-image: url(../images/sprite.png);
  background-position: -120px -228px;
  width: 20px;
  height: 20px;
}
.icon-newcastle_united {
  background-image: url(../images/sprite.png);
  background-position: -100px -228px;
  width: 20px;
  height: 20px;
}
.icon-nk_maribor {
  background-image: url(../images/sprite.png);
  background-position: -80px -228px;
  width: 20px;
  height: 20px;
}
.icon-norwich_city {
  background-image: url(../images/sprite.png);
  background-position: -60px -228px;
  width: 20px;
  height: 20px;
}
.icon-novara_calcio {
  background-image: url(../images/sprite.png);
  background-position: -40px -228px;
  width: 20px;
  height: 20px;
}
.icon-odense_bk {
  background-image: url(../images/sprite.png);
  background-position: -20px -228px;
  width: 20px;
  height: 20px;
}
.icon-ogc_nice {
  background-image: url(../images/sprite.png);
  background-position: 0px -228px;
  width: 20px;
  height: 20px;
}
.icon-olympiakos_piraus {
  background-image: url(../images/sprite.png);
  background-position: -228px -200px;
  width: 20px;
  height: 20px;
}
.icon-olympique_lyon {
  background-image: url(../images/sprite.png);
  background-position: -228px -180px;
  width: 20px;
  height: 20px;
}
.icon-olympique_marseille {
  background-image: url(../images/sprite.png);
  background-position: -228px -160px;
  width: 20px;
  height: 20px;
}
.icon-paok_saloniki {
  background-image: url(../images/sprite.png);
  background-position: -228px -140px;
  width: 20px;
  height: 20px;
}
.icon-paris_saint_germain {
  background-image: url(../images/sprite.png);
  background-position: -228px -120px;
  width: 20px;
  height: 20px;
}
.icon-parma_fc {
  background-image: url(../images/sprite.png);
  background-position: -228px -100px;
  width: 20px;
  height: 20px;
}
.icon-partizan {
  background-image: url(../images/sprite.png);
  background-position: -228px -80px;
  width: 20px;
  height: 20px;
}
.icon-pescara_calcio {
  background-image: url(../images/sprite.png);
  background-position: -228px -60px;
  width: 20px;
  height: 20px;
}
.icon-pfc_ludogorets_razgrad {
  background-image: url(../images/sprite.png);
  background-position: -228px -40px;
  width: 20px;
  height: 20px;
}
.icon-psv_eindhoven {
  background-image: url(../images/sprite.png);
  background-position: -228px -20px;
  width: 20px;
  height: 20px;
}
.icon-queens_park_rangers {
  background-image: url(../images/sprite.png);
  background-position: -228px 0px;
  width: 20px;
  height: 20px;
}
.icon-racing_santander {
  background-image: url(../images/sprite.png);
  background-position: -200px -208px;
  width: 20px;
  height: 20px;
}
.icon-rangers_fc {
  background-image: url(../images/sprite.png);
  background-position: -180px -208px;
  width: 20px;
  height: 20px;
}
.icon-rapid_wien {
  background-image: url(../images/sprite.png);
  background-position: -160px -208px;
  width: 20px;
  height: 20px;
}
.icon-rayo_vallecano {
  background-image: url(../images/sprite.png);
  background-position: -140px -208px;
  width: 20px;
  height: 20px;
}
.icon-rb_leipzig {
  background-image: url(../images/sprite.png);
  background-position: -120px -208px;
  width: 20px;
  height: 20px;
}
.icon-rb_salzburg {
  background-image: url(../images/sprite.png);
  background-position: -100px -208px;
  width: 20px;
  height: 20px;
}
.icon-rc_lens {
  background-image: url(../images/sprite.png);
  background-position: -60px -208px;
  width: 20px;
  height: 20px;
}
.icon-rcd_mallorca {
  background-image: url(../images/sprite.png);
  background-position: -80px -208px;
  width: 20px;
  height: 20px;
}
.icon-reading_fc {
  background-image: url(../images/sprite.png);
  background-position: -40px -208px;
  width: 20px;
  height: 20px;
}
.icon-real_betis {
  background-image: url(../images/sprite.png);
  background-position: -20px -208px;
  width: 20px;
  height: 20px;
}
.icon-real_madrid {
  background-image: url(../images/sprite.png);
  background-position: 0px -208px;
  width: 20px;
  height: 20px;
}
.icon-real_sociedad {
  background-image: url(../images/sprite.png);
  background-position: -208px -180px;
  width: 20px;
  height: 20px;
}
.icon-real_valladolid {
  background-image: url(../images/sprite.png);
  background-position: -208px -160px;
  width: 20px;
  height: 20px;
}
.icon-real_zaragoza {
  background-image: url(../images/sprite.png);
  background-position: -208px -140px;
  width: 20px;
  height: 20px;
}
.icon-rsc_anderlecht {
  background-image: url(../images/sprite.png);
  background-position: -208px -120px;
  width: 20px;
  height: 20px;
}
.icon-rubin_kazan {
  background-image: url(../images/sprite.png);
  background-position: -208px -100px;
  width: 20px;
  height: 20px;
}
.icon-sampdoria {
  background-image: url(../images/sprite.png);
  background-position: -208px -80px;
  width: 20px;
  height: 20px;
}
.icon-sassuolo_calcio {
  background-image: url(../images/sprite.png);
  background-position: -208px -60px;
  width: 20px;
  height: 20px;
}
.icon-sc_bastia {
  background-image: url(../images/sprite.png);
  background-position: -208px -40px;
  width: 20px;
  height: 20px;
}
.icon-sc_freiburg {
  background-image: url(../images/sprite.png);
  background-position: -208px -20px;
  width: 20px;
  height: 20px;
}
.icon-sc_paderborn_07 {
  background-image: url(../images/sprite.png);
  background-position: -208px 0px;
  width: 20px;
  height: 20px;
}
.icon-sd_eibar {
  background-image: url(../images/sprite.png);
  background-position: -180px -188px;
  width: 20px;
  height: 20px;
}
.icon-sevilla_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px -188px;
  width: 20px;
  height: 20px;
}
.icon-shakhtar_donetsk {
  background-image: url(../images/sprite.png);
  background-position: -140px -188px;
  width: 20px;
  height: 20px;
}
.icon-sl_benfica {
  background-image: url(../images/sprite.png);
  background-position: -100px -188px;
  width: 20px;
  height: 20px;
}
.icon-slovan_liberec {
  background-image: url(../images/sprite.png);
  background-position: -120px -188px;
  width: 20px;
  height: 20px;
}
.icon-sm_caen {
  background-image: url(../images/sprite.png);
  background-position: -80px -188px;
  width: 20px;
  height: 20px;
}
.icon-southampton_fc {
  background-image: url(../images/sprite.png);
  background-position: -60px -188px;
  width: 20px;
  height: 20px;
}
.icon-sparta_praha {
  background-image: url(../images/sprite.png);
  background-position: -20px -188px;
  width: 20px;
  height: 20px;
}
.icon-spartak_moskva {
  background-image: url(../images/sprite.png);
  background-position: -40px -188px;
  width: 20px;
  height: 20px;
}
.icon-sporting_braga {
  background-image: url(../images/sprite.png);
  background-position: 0px -188px;
  width: 20px;
  height: 20px;
}
.icon-sporting_cp {
  background-image: url(../images/sprite.png);
  background-position: -188px -160px;
  width: 20px;
  height: 20px;
}
.icon-sporting_gijon {
  background-image: url(../images/sprite.png);
  background-position: -188px -140px;
  width: 20px;
  height: 20px;
}
.icon-spvgg_greuther_furth {
  background-image: url(../images/sprite.png);
  background-position: -188px -120px;
  width: 20px;
  height: 20px;
}
.icon-ssc_napoli {
  background-image: url(../images/sprite.png);
  background-position: -188px -100px;
  width: 20px;
  height: 20px;
}
.icon-stade_brest {
  background-image: url(../images/sprite.png);
  background-position: -188px -80px;
  width: 20px;
  height: 20px;
}
.icon-stade_reims {
  background-image: url(../images/sprite.png);
  background-position: -188px -60px;
  width: 20px;
  height: 20px;
}
.icon-stade_rennes {
  background-image: url(../images/sprite.png);
  background-position: -188px -40px;
  width: 20px;
  height: 20px;
}
.icon-standard_liege {
  background-image: url(../images/sprite.png);
  background-position: -188px -20px;
  width: 20px;
  height: 20px;
}
.icon-steaua_bucure_ti {
  background-image: url(../images/sprite.png);
  background-position: -188px 0px;
  width: 20px;
  height: 20px;
}
.icon-stoke_city {
  background-image: url(../images/sprite.png);
  background-position: -160px -168px;
  width: 20px;
  height: 20px;
}
.icon-sunderland_afc {
  background-image: url(../images/sprite.png);
  background-position: -140px -168px;
  width: 20px;
  height: 20px;
}
.icon-sv_darmstadt_98 {
  background-image: url(../images/sprite.png);
  background-position: -120px -168px;
  width: 20px;
  height: 20px;
}
.icon-swansea_city {
  background-image: url(../images/sprite.png);
  background-position: -100px -168px;
  width: 20px;
  height: 20px;
}
.icon-torino_fc {
  background-image: url(../images/sprite.png);
  background-position: -80px -168px;
  width: 20px;
  height: 20px;
}
.icon-tottenham_hotspur {
  background-image: url(../images/sprite.png);
  background-position: -60px -168px;
  width: 20px;
  height: 20px;
}
.icon-toulouse_fc {
  background-image: url(../images/sprite.png);
  background-position: -40px -168px;
  width: 20px;
  height: 20px;
}
.icon-trabzonspor {
  background-image: url(../images/sprite.png);
  background-position: -20px -168px;
  width: 20px;
  height: 20px;
}
.icon-ud_almeria {
  background-image: url(../images/sprite.png);
  background-position: -168px -140px;
  width: 20px;
  height: 20px;
}
.icon-ud_las_palmas {
  background-image: url(../images/sprite.png);
  background-position: -168px -120px;
  width: 20px;
  height: 20px;
}
.icon-udinese_calcio {
  background-image: url(../images/sprite.png);
  background-position: 0px -168px;
  width: 20px;
  height: 20px;
}
.icon-us_lecce {
  background-image: url(../images/sprite.png);
  background-position: -168px -100px;
  width: 20px;
  height: 20px;
}
.icon-us_palermo {
  background-image: url(../images/sprite.png);
  background-position: -168px -80px;
  width: 20px;
  height: 20px;
}
.icon-valencia_cf {
  background-image: url(../images/sprite.png);
  background-position: -168px -60px;
  width: 20px;
  height: 20px;
}
.icon-valenciennes_fc {
  background-image: url(../images/sprite.png);
  background-position: -168px -40px;
  width: 20px;
  height: 20px;
}
.icon-vfb_stuttgart {
  background-image: url(../images/sprite.png);
  background-position: -168px -20px;
  width: 20px;
  height: 20px;
}
.icon-vfl_wolfsburg {
  background-image: url(../images/sprite.png);
  background-position: -168px 0px;
  width: 20px;
  height: 20px;
}
.icon-viktoria_plze_ {
  background-image: url(../images/sprite.png);
  background-position: -136px -132px;
  width: 20px;
  height: 20px;
}
.icon-villarreal_cf {
  background-image: url(../images/sprite.png);
  background-position: -116px -132px;
  width: 20px;
  height: 20px;
}
.icon-watford_fc {
  background-image: url(../images/sprite.png);
  background-position: -96px -132px;
  width: 20px;
  height: 20px;
}
.icon-werder_bremen {
  background-image: url(../images/sprite.png);
  background-position: -76px -132px;
  width: 20px;
  height: 20px;
}
.icon-west_bromwich_albion {
  background-image: url(../images/sprite.png);
  background-position: -56px -132px;
  width: 20px;
  height: 20px;
}
.icon-west_ham_united {
  background-image: url(../images/sprite.png);
  background-position: -136px -112px;
  width: 20px;
  height: 20px;
}
.icon-wigan_athletic {
  background-image: url(../images/sprite.png);
  background-position: -116px -112px;
  width: 20px;
  height: 20px;
}
.icon-wolverhampton_wanderers {
  background-image: url(../images/sprite.png);
  background-position: -96px -112px;
  width: 20px;
  height: 20px;
}
.icon-zenit_st__petersburg {
  background-image: url(../images/sprite.png);
  background-position: -76px -112px;
  width: 20px;
  height: 20px;
}
