/*
Icon classes can be used entirely standalone. They are named after their original file names.

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
.icon-albania {
  background-image: url(../images/sprite.png);
  background-position: -318px -240px;
  width: 18px;
  height: 12px;
}
.icon-algeria {
  background-image: url(../images/sprite.png);
  background-position: -318px -72px;
  width: 18px;
  height: 12px;
}
.icon-argentina {
  background-image: url(../images/sprite.png);
  background-position: -300px -72px;
  width: 18px;
  height: 12px;
}
.icon-armenia {
  background-image: url(../images/sprite.png);
  background-position: -318px -228px;
  width: 18px;
  height: 12px;
}
.icon-australia {
  background-image: url(../images/sprite.png);
  background-position: -318px -216px;
  width: 18px;
  height: 12px;
}
.icon-austria {
  background-image: url(../images/sprite.png);
  background-position: -318px -204px;
  width: 18px;
  height: 12px;
}
.icon-belarus {
  background-image: url(../images/sprite.png);
  background-position: -318px -192px;
  width: 18px;
  height: 12px;
}
.icon-belgium {
  background-image: url(../images/sprite.png);
  background-position: -318px -180px;
  width: 18px;
  height: 12px;
}
.icon-benin {
  background-image: url(../images/sprite.png);
  background-position: -318px -168px;
  width: 18px;
  height: 12px;
}
.icon-bosnia_herzegovina {
  background-image: url(../images/sprite.png);
  background-position: -318px -156px;
  width: 18px;
  height: 12px;
}
.icon-brazil {
  background-image: url(../images/sprite.png);
  background-position: -318px -144px;
  width: 18px;
  height: 12px;
}
.icon-bulgaria {
  background-image: url(../images/sprite.png);
  background-position: -318px -132px;
  width: 18px;
  height: 12px;
}
.icon-burkina_faso {
  background-image: url(../images/sprite.png);
  background-position: -318px -120px;
  width: 18px;
  height: 12px;
}
.icon-cameroon {
  background-image: url(../images/sprite.png);
  background-position: -318px -108px;
  width: 18px;
  height: 12px;
}
.icon-canada {
  background-image: url(../images/sprite.png);
  background-position: -318px -96px;
  width: 18px;
  height: 12px;
}
.icon-cape_verde {
  background-image: url(../images/sprite.png);
  background-position: -318px -84px;
  width: 18px;
  height: 12px;
}
.icon-chile {
  background-image: url(../images/sprite.png);
  background-position: 0px -280px;
  width: 19px;
  height: 13px;
}
.icon-colombia {
  background-image: url(../images/sprite.png);
  background-position: -318px -60px;
  width: 18px;
  height: 12px;
}
.icon-congo {
  background-image: url(../images/sprite.png);
  background-position: -318px -48px;
  width: 18px;
  height: 12px;
}
.icon-congo_dr {
  background-image: url(../images/sprite.png);
  background-position: -318px -36px;
  width: 18px;
  height: 12px;
}
.icon-costa_rica {
  background-image: url(../images/sprite.png);
  background-position: -318px -24px;
  width: 18px;
  height: 12px;
}
.icon-croatia {
  background-image: url(../images/sprite.png);
  background-position: -318px -12px;
  width: 18px;
  height: 12px;
}
.icon-cyprus {
  background-image: url(../images/sprite.png);
  background-position: -318px 0px;
  width: 18px;
  height: 12px;
}
.icon-czech_republic {
  background-image: url(../images/sprite.png);
  background-position: -288px -305px;
  width: 18px;
  height: 12px;
}
.icon-denmark {
  background-image: url(../images/sprite.png);
  background-position: -270px -305px;
  width: 18px;
  height: 12px;
}
.icon-ecuador {
  background-image: url(../images/sprite.png);
  background-position: -252px -305px;
  width: 18px;
  height: 12px;
}
.icon-egypt {
  background-image: url(../images/sprite.png);
  background-position: -234px -305px;
  width: 18px;
  height: 12px;
}
.icon-england {
  background-image: url(../images/sprite.png);
  background-position: -216px -305px;
  width: 18px;
  height: 12px;
}
.icon-equatorial_guinea {
  background-image: url(../images/sprite.png);
  background-position: -198px -305px;
  width: 18px;
  height: 12px;
}
.icon-eritrea {
  background-image: url(../images/sprite.png);
  background-position: -180px -305px;
  width: 18px;
  height: 12px;
}
.icon-finland {
  background-image: url(../images/sprite.png);
  background-position: -162px -305px;
  width: 18px;
  height: 12px;
}
.icon-france {
  background-image: url(../images/sprite.png);
  background-position: -144px -305px;
  width: 18px;
  height: 12px;
}
.icon-gabon {
  background-image: url(../images/sprite.png);
  background-position: -126px -305px;
  width: 18px;
  height: 12px;
}
.icon-georgia {
  background-image: url(../images/sprite.png);
  background-position: -108px -305px;
  width: 18px;
  height: 12px;
}
.icon-germany {
  background-image: url(../images/sprite.png);
  background-position: -90px -305px;
  width: 18px;
  height: 12px;
}
.icon-ghana {
  background-image: url(../images/sprite.png);
  background-position: -72px -305px;
  width: 18px;
  height: 12px;
}
.icon-gibraltar {
  background-image: url(../images/sprite.png);
  background-position: -54px -305px;
  width: 18px;
  height: 12px;
}
.icon-greece {
  background-image: url(../images/sprite.png);
  background-position: -36px -305px;
  width: 18px;
  height: 12px;
}
.icon-grenada {
  background-image: url(../images/sprite.png);
  background-position: -18px -305px;
  width: 18px;
  height: 12px;
}
.icon-guadeloupe {
  background-image: url(../images/sprite.png);
  background-position: 0px -305px;
  width: 18px;
  height: 12px;
}
.icon-guinea {
  background-image: url(../images/sprite.png);
  background-position: -288px -293px;
  width: 18px;
  height: 12px;
}
.icon-honduras {
  background-image: url(../images/sprite.png);
  background-position: -270px -293px;
  width: 18px;
  height: 12px;
}
.icon-hungary {
  background-image: url(../images/sprite.png);
  background-position: -252px -293px;
  width: 18px;
  height: 12px;
}
.icon-iceland {
  background-image: url(../images/sprite.png);
  background-position: -234px -293px;
  width: 18px;
  height: 12px;
}
.icon-iran {
  background-image: url(../images/sprite.png);
  background-position: -216px -293px;
  width: 18px;
  height: 12px;
}
.icon-ireland {
  background-image: url(../images/sprite.png);
  background-position: -198px -293px;
  width: 18px;
  height: 12px;
}
.icon-israel {
  background-image: url(../images/sprite.png);
  background-position: -180px -293px;
  width: 18px;
  height: 12px;
}
.icon-italy {
  background-image: url(../images/sprite.png);
  background-position: -162px -293px;
  width: 18px;
  height: 12px;
}
.icon-ivory_coast {
  background-image: url(../images/sprite.png);
  background-position: -19px -280px;
  width: 18px;
  height: 12px;
}
.icon-jamaica {
  background-image: url(../images/sprite.png);
  background-position: -126px -293px;
  width: 18px;
  height: 12px;
}
.icon-japan {
  background-image: url(../images/sprite.png);
  background-position: -108px -293px;
  width: 18px;
  height: 12px;
}
.icon-kenya {
  background-image: url(../images/sprite.png);
  background-position: -90px -293px;
  width: 18px;
  height: 12px;
}
.icon-latvia {
  background-image: url(../images/sprite.png);
  background-position: -72px -293px;
  width: 18px;
  height: 12px;
}
.icon-lebanon {
  background-image: url(../images/sprite.png);
  background-position: -54px -293px;
  width: 18px;
  height: 12px;
}
.icon-lithuania {
  background-image: url(../images/sprite.png);
  background-position: -36px -293px;
  width: 18px;
  height: 12px;
}
.icon-macedonia {
  background-image: url(../images/sprite.png);
  background-position: -18px -293px;
  width: 18px;
  height: 12px;
}
.icon-mali {
  background-image: url(../images/sprite.png);
  background-position: 0px -293px;
  width: 18px;
  height: 12px;
}
.icon-martinique {
  background-image: url(../images/sprite.png);
  background-position: -300px -276px;
  width: 18px;
  height: 12px;
}
.icon-mexico {
  background-image: url(../images/sprite.png);
  background-position: -300px -264px;
  width: 18px;
  height: 12px;
}
.icon-montenegro {
  background-image: url(../images/sprite.png);
  background-position: -300px -252px;
  width: 18px;
  height: 12px;
}
.icon-morocco {
  background-image: url(../images/sprite.png);
  background-position: -300px -240px;
  width: 18px;
  height: 12px;
}
.icon-netherlands {
  background-image: url(../images/sprite.png);
  background-position: -300px -228px;
  width: 18px;
  height: 12px;
}
.icon-new_zealand {
  background-image: url(../images/sprite.png);
  background-position: -300px -216px;
  width: 18px;
  height: 12px;
}
.icon-niger {
  background-image: url(../images/sprite.png);
  background-position: -300px -204px;
  width: 18px;
  height: 12px;
}
.icon-nigeria {
  background-image: url(../images/sprite.png);
  background-position: -300px -192px;
  width: 18px;
  height: 12px;
}
.icon-northern_ireland {
  background-image: url(../images/sprite.png);
  background-position: -300px -180px;
  width: 18px;
  height: 12px;
}
.icon-norway {
  background-image: url(../images/sprite.png);
  background-position: -300px -168px;
  width: 18px;
  height: 12px;
}
.icon-paraguay {
  background-image: url(../images/sprite.png);
  background-position: -300px -156px;
  width: 18px;
  height: 12px;
}
.icon-peru {
  background-image: url(../images/sprite.png);
  background-position: -300px -144px;
  width: 18px;
  height: 12px;
}
.icon-poland {
  background-image: url(../images/sprite.png);
  background-position: -300px -132px;
  width: 18px;
  height: 12px;
}
.icon-portugal {
  background-image: url(../images/sprite.png);
  background-position: -300px -120px;
  width: 18px;
  height: 12px;
}
.icon-reunion {
  background-image: url(../images/sprite.png);
  background-position: -300px -108px;
  width: 18px;
  height: 12px;
}
.icon-romania {
  background-image: url(../images/sprite.png);
  background-position: -300px -96px;
  width: 18px;
  height: 12px;
}
.icon-russia {
  background-image: url(../images/sprite.png);
  background-position: -300px -84px;
  width: 18px;
  height: 12px;
}
.icon-scotland {
  background-image: url(../images/sprite.png);
  background-position: -318px -252px;
  width: 17px;
  height: 12px;
}
.icon-senegal {
  background-image: url(../images/sprite.png);
  background-position: -300px -60px;
  width: 18px;
  height: 12px;
}
.icon-serbia {
  background-image: url(../images/sprite.png);
  background-position: -300px -48px;
  width: 18px;
  height: 12px;
}
.icon-sierra_leone {
  background-image: url(../images/sprite.png);
  background-position: -300px -36px;
  width: 18px;
  height: 12px;
}
.icon-slovakia {
  background-image: url(../images/sprite.png);
  background-position: -300px -24px;
  width: 18px;
  height: 12px;
}
.icon-slovenia {
  background-image: url(../images/sprite.png);
  background-position: -300px -12px;
  width: 18px;
  height: 12px;
}
.icon-south_africa {
  background-image: url(../images/sprite.png);
  background-position: -300px 0px;
  width: 18px;
  height: 12px;
}
.icon-south_korea {
  background-image: url(../images/sprite.png);
  background-position: -271px -280px;
  width: 18px;
  height: 12px;
}
.icon-spain {
  background-image: url(../images/sprite.png);
  background-position: -253px -280px;
  width: 18px;
  height: 12px;
}
.icon-sweden {
  background-image: url(../images/sprite.png);
  background-position: -235px -280px;
  width: 18px;
  height: 12px;
}
.icon-switzerland {
  background-image: url(../images/sprite.png);
  background-position: -217px -280px;
  width: 18px;
  height: 12px;
}
.icon-togo {
  background-image: url(../images/sprite.png);
  background-position: -199px -280px;
  width: 18px;
  height: 12px;
}
.icon-trinidad___tobago {
  background-image: url(../images/sprite.png);
  background-position: -181px -280px;
  width: 18px;
  height: 12px;
}
.icon-tunisia {
  background-image: url(../images/sprite.png);
  background-position: -163px -280px;
  width: 18px;
  height: 12px;
}
.icon-turkey {
  background-image: url(../images/sprite.png);
  background-position: -145px -280px;
  width: 18px;
  height: 12px;
}
.icon-ukraine {
  background-image: url(../images/sprite.png);
  background-position: -127px -280px;
  width: 18px;
  height: 12px;
}
.icon-uruguay {
  background-image: url(../images/sprite.png);
  background-position: -109px -280px;
  width: 18px;
  height: 12px;
}
.icon-usa {
  background-image: url(../images/sprite.png);
  background-position: -91px -280px;
  width: 18px;
  height: 12px;
}
.icon-uzbekistan {
  background-image: url(../images/sprite.png);
  background-position: -73px -280px;
  width: 18px;
  height: 12px;
}
.icon-venezuela {
  background-image: url(../images/sprite.png);
  background-position: -55px -280px;
  width: 18px;
  height: 12px;
}
.icon-wales {
  background-image: url(../images/sprite.png);
  background-position: -37px -280px;
  width: 18px;
  height: 12px;
}
.icon-zimbabwe {
  background-image: url(../images/sprite.png);
  background-position: -144px -293px;
  width: 18px;
  height: 12px;
}
.icon-1899_hoffenheim {
  background-image: url(../images/sprite.png);
  background-position: -120px -180px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_kaiserslautern {
  background-image: url(../images/sprite.png);
  background-position: -140px -180px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_koln {
  background-image: url(../images/sprite.png);
  background-position: -160px -180px;
  width: 20px;
  height: 20px;
}
.icon-1__fc_nurnberg {
  background-image: url(../images/sprite.png);
  background-position: -180px -180px;
  width: 20px;
  height: 20px;
}
.icon-1__fsv_mainz_05 {
  background-image: url(../images/sprite.png);
  background-position: -200px 0px;
  width: 20px;
  height: 20px;
}
.icon-aalborg_bk {
  background-image: url(../images/sprite.png);
  background-position: -200px -20px;
  width: 20px;
  height: 20px;
}
.icon-ac_ajaccio {
  background-image: url(../images/sprite.png);
  background-position: -200px -60px;
  width: 20px;
  height: 20px;
}
.icon-ac_arles_avignon {
  background-image: url(../images/sprite.png);
  background-position: -200px -80px;
  width: 20px;
  height: 20px;
}
.icon-ac_cesena {
  background-image: url(../images/sprite.png);
  background-position: -200px -100px;
  width: 20px;
  height: 20px;
}
.icon-ac_milan {
  background-image: url(../images/sprite.png);
  background-position: -200px -120px;
  width: 20px;
  height: 20px;
}
.icon-ac_siena {
  background-image: url(../images/sprite.png);
  background-position: -200px -140px;
  width: 20px;
  height: 20px;
}
.icon-acf_fiorentina {
  background-image: url(../images/sprite.png);
  background-position: -200px -40px;
  width: 20px;
  height: 20px;
}
.icon-afc_ajax {
  background-image: url(../images/sprite.png);
  background-position: -200px -160px;
  width: 20px;
  height: 20px;
}
.icon-afc_bournemouth {
  background-image: url(../images/sprite.png);
  background-position: -200px -180px;
  width: 20px;
  height: 20px;
}
.icon-aj_auxerre {
  background-image: url(../images/sprite.png);
  background-position: 0px -200px;
  width: 20px;
  height: 20px;
}
.icon-angers_sco {
  background-image: url(../images/sprite.png);
  background-position: -20px -200px;
  width: 20px;
  height: 20px;
}
.icon-anzhi_makhachkala {
  background-image: url(../images/sprite.png);
  background-position: -40px -200px;
  width: 20px;
  height: 20px;
}
.icon-apoel_nikosia {
  background-image: url(../images/sprite.png);
  background-position: -60px -200px;
  width: 20px;
  height: 20px;
}
.icon-arsenal_fc {
  background-image: url(../images/sprite.png);
  background-position: -80px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_bari {
  background-image: url(../images/sprite.png);
  background-position: -120px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_livorno {
  background-image: url(../images/sprite.png);
  background-position: -140px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_monaco {
  background-image: url(../images/sprite.png);
  background-position: -160px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_nancy {
  background-image: url(../images/sprite.png);
  background-position: -180px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_roma {
  background-image: url(../images/sprite.png);
  background-position: -200px -200px;
  width: 20px;
  height: 20px;
}
.icon-as_saint_etienne {
  background-image: url(../images/sprite.png);
  background-position: -220px 0px;
  width: 20px;
  height: 20px;
}
.icon-aston_villa {
  background-image: url(../images/sprite.png);
  background-position: -100px -200px;
  width: 20px;
  height: 20px;
}
.icon-atalanta {
  background-image: url(../images/sprite.png);
  background-position: -220px -20px;
  width: 20px;
  height: 20px;
}
.icon-athletic_bilbao {
  background-image: url(../images/sprite.png);
  background-position: -220px -40px;
  width: 20px;
  height: 20px;
}
.icon-atletico_madrid {
  background-image: url(../images/sprite.png);
  background-position: -220px -60px;
  width: 20px;
  height: 20px;
}
.icon-az_alkmaar {
  background-image: url(../images/sprite.png);
  background-position: -220px -80px;
  width: 20px;
  height: 20px;
}
.icon-bayer_leverkusen {
  background-image: url(../images/sprite.png);
  background-position: -220px -120px;
  width: 20px;
  height: 20px;
}
.icon-bayern_munchen {
  background-image: url(../images/sprite.png);
  background-position: -220px -100px;
  width: 20px;
  height: 20px;
}
.icon-be_ikta_ {
  background-image: url(../images/sprite.png);
  background-position: -220px -140px;
  width: 20px;
  height: 20px;
}
.icon-birmingham_city {
  background-image: url(../images/sprite.png);
  background-position: -220px -160px;
  width: 20px;
  height: 20px;
}
.icon-blackburn_rovers {
  background-image: url(../images/sprite.png);
  background-position: -220px -180px;
  width: 20px;
  height: 20px;
}
.icon-blackpool_fc {
  background-image: url(../images/sprite.png);
  background-position: -220px -200px;
  width: 20px;
  height: 20px;
}
.icon-bologna_fc {
  background-image: url(../images/sprite.png);
  background-position: 0px -220px;
  width: 20px;
  height: 20px;
}
.icon-bolton_wanderers {
  background-image: url(../images/sprite.png);
  background-position: -20px -220px;
  width: 20px;
  height: 20px;
}
.icon-bor__monchengladbach {
  background-image: url(../images/sprite.png);
  background-position: -60px -220px;
  width: 20px;
  height: 20px;
}
.icon-borussia_dortmund {
  background-image: url(../images/sprite.png);
  background-position: -40px -220px;
  width: 20px;
  height: 20px;
}
.icon-brescia_calcio {
  background-image: url(../images/sprite.png);
  background-position: -80px -220px;
  width: 20px;
  height: 20px;
}
.icon-bsc_young_boys {
  background-image: url(../images/sprite.png);
  background-position: -100px -220px;
  width: 20px;
  height: 20px;
}
.icon-burnley_fc {
  background-image: url(../images/sprite.png);
  background-position: -120px -220px;
  width: 20px;
  height: 20px;
}
.icon-ca_osasuna {
  background-image: url(../images/sprite.png);
  background-position: -220px -220px;
  width: 20px;
  height: 20px;
}
.icon-cagliari_calcio {
  background-image: url(../images/sprite.png);
  background-position: -140px -220px;
  width: 20px;
  height: 20px;
}
.icon-calcio_catania {
  background-image: url(../images/sprite.png);
  background-position: -160px -220px;
  width: 20px;
  height: 20px;
}
.icon-cardiff_city {
  background-image: url(../images/sprite.png);
  background-position: -180px -220px;
  width: 20px;
  height: 20px;
}
.icon-carpi_fc {
  background-image: url(../images/sprite.png);
  background-position: -200px -220px;
  width: 20px;
  height: 20px;
}
.icon-celta_vigo {
  background-image: url(../images/sprite.png);
  background-position: -240px 0px;
  width: 20px;
  height: 20px;
}
.icon-celtic_fc {
  background-image: url(../images/sprite.png);
  background-position: -240px -20px;
  width: 20px;
  height: 20px;
}
.icon-cfr_cluj {
  background-image: url(../images/sprite.png);
  background-position: -240px -40px;
  width: 20px;
  height: 20px;
}
.icon-chelsea_fc {
  background-image: url(../images/sprite.png);
  background-position: -240px -60px;
  width: 20px;
  height: 20px;
}
.icon-chernomorets_odessa {
  background-image: url(../images/sprite.png);
  background-position: -240px -80px;
  width: 20px;
  height: 20px;
}
.icon-chievo_verona {
  background-image: url(../images/sprite.png);
  background-position: -240px -100px;
  width: 20px;
  height: 20px;
}
.icon-club_brugge_kv {
  background-image: url(../images/sprite.png);
  background-position: -240px -120px;
  width: 20px;
  height: 20px;
}
.icon-cordoba_cf {
  background-image: url(../images/sprite.png);
  background-position: -240px -140px;
  width: 20px;
  height: 20px;
}
.icon-crystal_palace {
  background-image: url(../images/sprite.png);
  background-position: -240px -160px;
  width: 20px;
  height: 20px;
}
.icon-cska_moskva {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 20px;
}
.icon-deportivo_la_coruna {
  background-image: url(../images/sprite.png);
  background-position: -240px -200px;
  width: 20px;
  height: 20px;
}
.icon-dijon_fco {
  background-image: url(../images/sprite.png);
  background-position: -240px -220px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_kiev {
  background-image: url(../images/sprite.png);
  background-position: 0px -240px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_moskva {
  background-image: url(../images/sprite.png);
  background-position: -20px -240px;
  width: 20px;
  height: 20px;
}
.icon-dinamo_zagreb {
  background-image: url(../images/sprite.png);
  background-position: -40px -240px;
  width: 20px;
  height: 20px;
}
.icon-dnipro_dnipropetrovsk {
  background-image: url(../images/sprite.png);
  background-position: -60px -240px;
  width: 20px;
  height: 20px;
}
.icon-ea_guingamp {
  background-image: url(../images/sprite.png);
  background-position: -80px -240px;
  width: 20px;
  height: 20px;
}
.icon-eintracht_braunschweig {
  background-image: url(../images/sprite.png);
  background-position: -100px -240px;
  width: 20px;
  height: 20px;
}
.icon-eintracht_frankfurt {
  background-image: url(../images/sprite.png);
  background-position: -120px -240px;
  width: 20px;
  height: 20px;
}
.icon-elche_cf {
  background-image: url(../images/sprite.png);
  background-position: -140px -240px;
  width: 20px;
  height: 20px;
}
.icon-empoli_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px -240px;
  width: 20px;
  height: 20px;
}
.icon-esbjerg_fb {
  background-image: url(../images/sprite.png);
  background-position: -180px -240px;
  width: 20px;
  height: 20px;
}
.icon-espanyol_barcelona {
  background-image: url(../images/sprite.png);
  background-position: -200px -240px;
  width: 20px;
  height: 20px;
}
.icon-estac_troyes {
  background-image: url(../images/sprite.png);
  background-position: -220px -240px;
  width: 20px;
  height: 20px;
}
.icon-everton_fc {
  background-image: url(../images/sprite.png);
  background-position: -240px -240px;
  width: 20px;
  height: 20px;
}
.icon-evian_thonon_gaillard {
  background-image: url(../images/sprite.png);
  background-position: -260px 0px;
  width: 20px;
  height: 20px;
}
.icon-fc_augsburg {
  background-image: url(../images/sprite.png);
  background-position: -260px -20px;
  width: 20px;
  height: 20px;
}
.icon-fc_barcelona {
  background-image: url(../images/sprite.png);
  background-position: -260px -40px;
  width: 20px;
  height: 20px;
}
.icon-fc_basel {
  background-image: url(../images/sprite.png);
  background-position: -260px -60px;
  width: 20px;
  height: 20px;
}
.icon-fc_ingolstadt_04 {
  background-image: url(../images/sprite.png);
  background-position: -260px -80px;
  width: 20px;
  height: 20px;
}
.icon-fc_k_benhavn {
  background-image: url(../images/sprite.png);
  background-position: -260px -100px;
  width: 20px;
  height: 20px;
}
.icon-fc_lorient {
  background-image: url(../images/sprite.png);
  background-position: -260px -120px;
  width: 20px;
  height: 20px;
}
.icon-fc_metz {
  background-image: url(../images/sprite.png);
  background-position: -260px -140px;
  width: 20px;
  height: 20px;
}
.icon-fc_midtjylland {
  background-image: url(../images/sprite.png);
  background-position: -260px -160px;
  width: 20px;
  height: 20px;
}
.icon-fc_nantes {
  background-image: url(../images/sprite.png);
  background-position: -260px -180px;
  width: 20px;
  height: 20px;
}
.icon-fc_porto {
  background-image: url(../images/sprite.png);
  background-position: -260px -200px;
  width: 20px;
  height: 20px;
}
.icon-fc_schalke_04 {
  background-image: url(../images/sprite.png);
  background-position: -260px -220px;
  width: 20px;
  height: 20px;
}
.icon-fc_sion {
  background-image: url(../images/sprite.png);
  background-position: -260px -240px;
  width: 20px;
  height: 20px;
}
.icon-fc_sochaux {
  background-image: url(../images/sprite.png);
  background-position: 0px -260px;
  width: 20px;
  height: 20px;
}
.icon-fc_st__pauli {
  background-image: url(../images/sprite.png);
  background-position: -20px -260px;
  width: 20px;
  height: 20px;
}
.icon-fc_twente {
  background-image: url(../images/sprite.png);
  background-position: -40px -260px;
  width: 20px;
  height: 20px;
}
.icon-fenerbahce {
  background-image: url(../images/sprite.png);
  background-position: -60px -260px;
  width: 20px;
  height: 20px;
}
.icon-feyenoord {
  background-image: url(../images/sprite.png);
  background-position: -80px -260px;
  width: 20px;
  height: 20px;
}
.icon-fk_krasnodar {
  background-image: url(../images/sprite.png);
  background-position: -100px -260px;
  width: 20px;
  height: 20px;
}
.icon-fortuna_dusseldorf {
  background-image: url(../images/sprite.png);
  background-position: -120px -260px;
  width: 20px;
  height: 20px;
}
.icon-frosinone_calcio {
  background-image: url(../images/sprite.png);
  background-position: -140px -260px;
  width: 20px;
  height: 20px;
}
.icon-fulham_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px -260px;
  width: 20px;
  height: 20px;
}
.icon-galatasaray {
  background-image: url(../images/sprite.png);
  background-position: -180px -260px;
  width: 20px;
  height: 20px;
}
.icon-genoa_cfc {
  background-image: url(../images/sprite.png);
  background-position: -200px -260px;
  width: 20px;
  height: 20px;
}
.icon-getafe_cf {
  background-image: url(../images/sprite.png);
  background-position: -220px -260px;
  width: 20px;
  height: 20px;
}
.icon-gfc_ajaccio {
  background-image: url(../images/sprite.png);
  background-position: -240px -260px;
  width: 20px;
  height: 20px;
}
.icon-girondins_bordeaux {
  background-image: url(../images/sprite.png);
  background-position: -260px -260px;
  width: 20px;
  height: 20px;
}
.icon-granada_cf {
  background-image: url(../images/sprite.png);
  background-position: -280px 0px;
  width: 20px;
  height: 20px;
}
.icon-hamburger_sv {
  background-image: url(../images/sprite.png);
  background-position: -280px -20px;
  width: 20px;
  height: 20px;
}
.icon-hannover_96 {
  background-image: url(../images/sprite.png);
  background-position: -280px -40px;
  width: 20px;
  height: 20px;
}
.icon-hellas_verona {
  background-image: url(../images/sprite.png);
  background-position: -280px -60px;
  width: 20px;
  height: 20px;
}
.icon-helsingborgs_if {
  background-image: url(../images/sprite.png);
  background-position: -280px -80px;
  width: 20px;
  height: 20px;
}
.icon-hercules_cf {
  background-image: url(../images/sprite.png);
  background-position: -280px -100px;
  width: 20px;
  height: 20px;
}
.icon-hertha_bsc {
  background-image: url(../images/sprite.png);
  background-position: -280px -120px;
  width: 20px;
  height: 20px;
}
.icon-hnk_rijeka {
  background-image: url(../images/sprite.png);
  background-position: -280px -140px;
  width: 20px;
  height: 20px;
}
.icon-hull_city {
  background-image: url(../images/sprite.png);
  background-position: -280px -160px;
  width: 20px;
  height: 20px;
}
.icon-inter {
  background-image: url(../images/sprite.png);
  background-position: -280px -180px;
  width: 20px;
  height: 20px;
}
.icon-juventus {
  background-image: url(../images/sprite.png);
  background-position: -280px -200px;
  width: 20px;
  height: 20px;
}
.icon-kaa_gent {
  background-image: url(../images/sprite.png);
  background-position: -280px -220px;
  width: 20px;
  height: 20px;
}
.icon-krc_genk {
  background-image: url(../images/sprite.png);
  background-position: -280px -240px;
  width: 20px;
  height: 20px;
}
.icon-lazio_roma {
  background-image: url(../images/sprite.png);
  background-position: -280px -260px;
  width: 20px;
  height: 20px;
}
.icon-lech_pozna_ {
  background-image: url(../images/sprite.png);
  background-position: -240px -180px;
  width: 20px;
  height: 20px;
}
.icon-legia_warszawa {
  background-image: url(../images/sprite.png);
  background-position: -100px -180px;
  width: 20px;
  height: 20px;
}
.icon-leicester_city {
  background-image: url(../images/sprite.png);
  background-position: -80px -180px;
  width: 20px;
  height: 20px;
}
.icon-levante_ud {
  background-image: url(../images/sprite.png);
  background-position: -60px -180px;
  width: 20px;
  height: 20px;
}
.icon-lille_osc {
  background-image: url(../images/sprite.png);
  background-position: -40px -180px;
  width: 20px;
  height: 20px;
}
.icon-liverpool_fc {
  background-image: url(../images/sprite.png);
  background-position: -20px -180px;
  width: 20px;
  height: 20px;
}
.icon-lokomotiv_moskva {
  background-image: url(../images/sprite.png);
  background-position: 0px -180px;
  width: 20px;
  height: 20px;
}
.icon-maccabi_tel_aviv {
  background-image: url(../images/sprite.png);
  background-position: -180px -160px;
  width: 20px;
  height: 20px;
}
.icon-malaga_cf {
  background-image: url(../images/sprite.png);
  background-position: -180px -140px;
  width: 20px;
  height: 20px;
}
.icon-manchester_city {
  background-image: url(../images/sprite.png);
  background-position: -180px -120px;
  width: 20px;
  height: 20px;
}
.icon-manchester_united {
  background-image: url(../images/sprite.png);
  background-position: -180px -100px;
  width: 20px;
  height: 20px;
}
.icon-metalist_kharkov {
  background-image: url(../images/sprite.png);
  background-position: -180px -80px;
  width: 20px;
  height: 20px;
}
.icon-molde_fk {
  background-image: url(../images/sprite.png);
  background-position: -180px -60px;
  width: 20px;
  height: 20px;
}
.icon-montpellier_hsc {
  background-image: url(../images/sprite.png);
  background-position: -180px -40px;
  width: 20px;
  height: 20px;
}
.icon-newcastle_united {
  background-image: url(../images/sprite.png);
  background-position: -180px -20px;
  width: 20px;
  height: 20px;
}
.icon-nk_maribor {
  background-image: url(../images/sprite.png);
  background-position: -180px 0px;
  width: 20px;
  height: 20px;
}
.icon-norwich_city {
  background-image: url(../images/sprite.png);
  background-position: -160px -160px;
  width: 20px;
  height: 20px;
}
.icon-novara_calcio {
  background-image: url(../images/sprite.png);
  background-position: -140px -160px;
  width: 20px;
  height: 20px;
}
.icon-odense_bk {
  background-image: url(../images/sprite.png);
  background-position: -120px -160px;
  width: 20px;
  height: 20px;
}
.icon-ogc_nice {
  background-image: url(../images/sprite.png);
  background-position: -100px -160px;
  width: 20px;
  height: 20px;
}
.icon-olympiakos_piraus {
  background-image: url(../images/sprite.png);
  background-position: -80px -160px;
  width: 20px;
  height: 20px;
}
.icon-olympique_lyon {
  background-image: url(../images/sprite.png);
  background-position: -60px -160px;
  width: 20px;
  height: 20px;
}
.icon-olympique_marseille {
  background-image: url(../images/sprite.png);
  background-position: -40px -160px;
  width: 20px;
  height: 20px;
}
.icon-paok_saloniki {
  background-image: url(../images/sprite.png);
  background-position: -20px -160px;
  width: 20px;
  height: 20px;
}
.icon-paris_saint_germain {
  background-image: url(../images/sprite.png);
  background-position: 0px -160px;
  width: 20px;
  height: 20px;
}
.icon-parma_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px -140px;
  width: 20px;
  height: 20px;
}
.icon-partizan {
  background-image: url(../images/sprite.png);
  background-position: -160px -120px;
  width: 20px;
  height: 20px;
}
.icon-pescara_calcio {
  background-image: url(../images/sprite.png);
  background-position: -160px -100px;
  width: 20px;
  height: 20px;
}
.icon-pfc_ludogorets_razgrad {
  background-image: url(../images/sprite.png);
  background-position: -160px -80px;
  width: 20px;
  height: 20px;
}
.icon-psv_eindhoven {
  background-image: url(../images/sprite.png);
  background-position: -160px -60px;
  width: 20px;
  height: 20px;
}
.icon-queens_park_rangers {
  background-image: url(../images/sprite.png);
  background-position: -160px -40px;
  width: 20px;
  height: 20px;
}
.icon-racing_santander {
  background-image: url(../images/sprite.png);
  background-position: -160px -20px;
  width: 20px;
  height: 20px;
}
.icon-rangers_fc {
  background-image: url(../images/sprite.png);
  background-position: -160px 0px;
  width: 20px;
  height: 20px;
}
.icon-rapid_wien {
  background-image: url(../images/sprite.png);
  background-position: -140px -140px;
  width: 20px;
  height: 20px;
}
.icon-rayo_vallecano {
  background-image: url(../images/sprite.png);
  background-position: -120px -140px;
  width: 20px;
  height: 20px;
}
.icon-rb_salzburg {
  background-image: url(../images/sprite.png);
  background-position: -100px -140px;
  width: 20px;
  height: 20px;
}
.icon-rc_lens {
  background-image: url(../images/sprite.png);
  background-position: -60px -140px;
  width: 20px;
  height: 20px;
}
.icon-rcd_mallorca {
  background-image: url(../images/sprite.png);
  background-position: -80px -140px;
  width: 20px;
  height: 20px;
}
.icon-reading_fc {
  background-image: url(../images/sprite.png);
  background-position: -40px -140px;
  width: 20px;
  height: 20px;
}
.icon-real_betis {
  background-image: url(../images/sprite.png);
  background-position: -20px -140px;
  width: 20px;
  height: 20px;
}
.icon-real_madrid {
  background-image: url(../images/sprite.png);
  background-position: 0px -140px;
  width: 20px;
  height: 20px;
}
.icon-real_sociedad {
  background-image: url(../images/sprite.png);
  background-position: -140px -120px;
  width: 20px;
  height: 20px;
}
.icon-real_valladolid {
  background-image: url(../images/sprite.png);
  background-position: -140px -100px;
  width: 20px;
  height: 20px;
}
.icon-real_zaragoza {
  background-image: url(../images/sprite.png);
  background-position: -140px -80px;
  width: 20px;
  height: 20px;
}
.icon-rsc_anderlecht {
  background-image: url(../images/sprite.png);
  background-position: -140px -60px;
  width: 20px;
  height: 20px;
}
.icon-rubin_kazan {
  background-image: url(../images/sprite.png);
  background-position: -140px -40px;
  width: 20px;
  height: 20px;
}
.icon-sampdoria {
  background-image: url(../images/sprite.png);
  background-position: -140px -20px;
  width: 20px;
  height: 20px;
}
.icon-sassuolo_calcio {
  background-image: url(../images/sprite.png);
  background-position: -140px 0px;
  width: 20px;
  height: 20px;
}
.icon-sc_bastia {
  background-image: url(../images/sprite.png);
  background-position: -120px -120px;
  width: 20px;
  height: 20px;
}
.icon-sc_freiburg {
  background-image: url(../images/sprite.png);
  background-position: -100px -120px;
  width: 20px;
  height: 20px;
}
.icon-sc_paderborn_07 {
  background-image: url(../images/sprite.png);
  background-position: -80px -120px;
  width: 20px;
  height: 20px;
}
.icon-sd_eibar {
  background-image: url(../images/sprite.png);
  background-position: -60px -120px;
  width: 20px;
  height: 20px;
}
.icon-sevilla_fc {
  background-image: url(../images/sprite.png);
  background-position: -40px -120px;
  width: 20px;
  height: 20px;
}
.icon-shakhtar_donetsk {
  background-image: url(../images/sprite.png);
  background-position: -20px -120px;
  width: 20px;
  height: 20px;
}
.icon-sl_benfica {
  background-image: url(../images/sprite.png);
  background-position: -120px -100px;
  width: 20px;
  height: 20px;
}
.icon-slovan_liberec {
  background-image: url(../images/sprite.png);
  background-position: 0px -120px;
  width: 20px;
  height: 20px;
}
.icon-sm_caen {
  background-image: url(../images/sprite.png);
  background-position: -120px -80px;
  width: 20px;
  height: 20px;
}
.icon-southampton_fc {
  background-image: url(../images/sprite.png);
  background-position: -120px -60px;
  width: 20px;
  height: 20px;
}
.icon-sparta_praha {
  background-image: url(../images/sprite.png);
  background-position: -120px -20px;
  width: 20px;
  height: 20px;
}
.icon-spartak_moskva {
  background-image: url(../images/sprite.png);
  background-position: -120px -40px;
  width: 20px;
  height: 20px;
}
.icon-sporting_braga {
  background-image: url(../images/sprite.png);
  background-position: -120px 0px;
  width: 20px;
  height: 20px;
}
.icon-sporting_cp {
  background-image: url(../images/sprite.png);
  background-position: -100px -100px;
  width: 20px;
  height: 20px;
}
.icon-sporting_gijon {
  background-image: url(../images/sprite.png);
  background-position: -80px -100px;
  width: 20px;
  height: 20px;
}
.icon-spvgg_greuther_furth {
  background-image: url(../images/sprite.png);
  background-position: -60px -100px;
  width: 20px;
  height: 20px;
}
.icon-ssc_napoli {
  background-image: url(../images/sprite.png);
  background-position: -40px -100px;
  width: 20px;
  height: 20px;
}
.icon-stade_brest {
  background-image: url(../images/sprite.png);
  background-position: -20px -100px;
  width: 20px;
  height: 20px;
}
.icon-stade_reims {
  background-image: url(../images/sprite.png);
  background-position: 0px -100px;
  width: 20px;
  height: 20px;
}
.icon-stade_rennes {
  background-image: url(../images/sprite.png);
  background-position: -100px -80px;
  width: 20px;
  height: 20px;
}
.icon-standard_liege {
  background-image: url(../images/sprite.png);
  background-position: -100px -60px;
  width: 20px;
  height: 20px;
}
.icon-steaua_bucure_ti {
  background-image: url(../images/sprite.png);
  background-position: -100px -40px;
  width: 20px;
  height: 20px;
}
.icon-stoke_city {
  background-image: url(../images/sprite.png);
  background-position: -100px -20px;
  width: 20px;
  height: 20px;
}
.icon-sunderland_afc {
  background-image: url(../images/sprite.png);
  background-position: -100px 0px;
  width: 20px;
  height: 20px;
}
.icon-sv_darmstadt_98 {
  background-image: url(../images/sprite.png);
  background-position: -80px -80px;
  width: 20px;
  height: 20px;
}
.icon-swansea_city {
  background-image: url(../images/sprite.png);
  background-position: -60px -80px;
  width: 20px;
  height: 20px;
}
.icon-torino_fc {
  background-image: url(../images/sprite.png);
  background-position: -40px -80px;
  width: 20px;
  height: 20px;
}
.icon-tottenham_hotspur {
  background-image: url(../images/sprite.png);
  background-position: -20px -80px;
  width: 20px;
  height: 20px;
}
.icon-toulouse_fc {
  background-image: url(../images/sprite.png);
  background-position: 0px -80px;
  width: 20px;
  height: 20px;
}
.icon-trabzonspor {
  background-image: url(../images/sprite.png);
  background-position: -80px -60px;
  width: 20px;
  height: 20px;
}
.icon-ud_almeria {
  background-image: url(../images/sprite.png);
  background-position: -80px -20px;
  width: 20px;
  height: 20px;
}
.icon-ud_las_palmas {
  background-image: url(../images/sprite.png);
  background-position: -80px 0px;
  width: 20px;
  height: 20px;
}
.icon-udinese_calcio {
  background-image: url(../images/sprite.png);
  background-position: -80px -40px;
  width: 20px;
  height: 20px;
}
.icon-us_lecce {
  background-image: url(../images/sprite.png);
  background-position: -60px -60px;
  width: 20px;
  height: 20px;
}
.icon-us_palermo {
  background-image: url(../images/sprite.png);
  background-position: -40px -60px;
  width: 20px;
  height: 20px;
}
.icon-valencia_cf {
  background-image: url(../images/sprite.png);
  background-position: -20px -60px;
  width: 20px;
  height: 20px;
}
.icon-valenciennes_fc {
  background-image: url(../images/sprite.png);
  background-position: 0px -60px;
  width: 20px;
  height: 20px;
}
.icon-vfb_stuttgart {
  background-image: url(../images/sprite.png);
  background-position: -60px -40px;
  width: 20px;
  height: 20px;
}
.icon-vfl_wolfsburg {
  background-image: url(../images/sprite.png);
  background-position: -60px -20px;
  width: 20px;
  height: 20px;
}
.icon-viktoria_plze_ {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 20px;
  height: 20px;
}
.icon-villarreal_cf {
  background-image: url(../images/sprite.png);
  background-position: -40px -40px;
  width: 20px;
  height: 20px;
}
.icon-watford_fc {
  background-image: url(../images/sprite.png);
  background-position: -20px -40px;
  width: 20px;
  height: 20px;
}
.icon-werder_bremen {
  background-image: url(../images/sprite.png);
  background-position: 0px -40px;
  width: 20px;
  height: 20px;
}
.icon-west_bromwich_albion {
  background-image: url(../images/sprite.png);
  background-position: -40px -20px;
  width: 20px;
  height: 20px;
}
.icon-west_ham_united {
  background-image: url(../images/sprite.png);
  background-position: -40px 0px;
  width: 20px;
  height: 20px;
}
.icon-wigan_athletic {
  background-image: url(../images/sprite.png);
  background-position: -20px -20px;
  width: 20px;
  height: 20px;
}
.icon-wolverhampton_wanderers {
  background-image: url(../images/sprite.png);
  background-position: 0px -20px;
  width: 20px;
  height: 20px;
}
.icon-zenit_st__petersburg {
  background-image: url(../images/sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 20px;
}
