.table-data {
    border-collapse: collapse;
    border-radius: 4px;
    font-size: 13px !important;
    
    th, td {
        border-collapse: collapse;
        
        &.main-information {
            text-align: left;
            
            span {
                text-overflow: ellipsis;
                white-space: nowrap;
                max-width: 105px;
                display: block;
                overflow: hidden;
            }
        }
    }

    td {
        min-width: 26px;
        text-align: center;
    }
}