.footer {
    background-color: #002f46;
    font-size: 14px !important;
    text-align: center;
    height: 40px;
    padding: 9px 0 8px;
    width: 100%;

    .footer-item {
        cursor: pointer;
        color: rgba(255,255,255,0.6);
        display: inline-block;
        padding: 0 12px;
        text-decoration: none;

        &:hover {
            color: #fff;
        }
    }
}