.footer {
    font-size: 14px !important;
    text-align: center;
    height: 40px;
    padding: 10px 0;
    width: 100%;

    .footer-item {
        cursor: pointer;
        color: white;
        display: inline-block;
        padding: 0 8px;
        text-decoration: none;
    }
}