.menu {
    background-color: #004365;
    text-align: center;
    width: 100%;

    .menu-item {
        cursor: pointer;
        color: rgba(255,255,255,0.6);
        display: inline-block;
        margin-right: -4px;
        padding: 22px 16px;
        text-decoration: none;

        h2 {
            font-size: 16px !important;
            font-weight: normal;
            margin: 0;         
        }

        &:hover h2 {
            color: rgba(255,255,255,0.8);
        }

        &.menu-item-open h2 {
            color: #fff !important;
        }

        &.menu-item-logo {
            padding: 10px 16px 8px 0;
            vertical-align: top;
            
            img {
                height: 40px;
                width: 40px;
            }
        }
    }
}