.menu {
    background-color: white;
    text-align: center;
    width: 100%;

    .menu-item {
        cursor: pointer;
        color: black;
        display: inline-block;
        height: 50px;
        margin-right: -4px;
        padding: 16px;
        text-decoration: none;

        h2 {
            font-size: 16px !important;
            font-weight: bold;
            margin: 0;         
        }

        &:hover h2 {
            border-bottom:5px solid #004756;
        }

        &.menu-item-logo {
            padding: 5px;
            vertical-align: top;
            
            img {
                height: 40px;
                width: 40px;
            }
        }

        &.menu-item-open {
            background-color: #004756;
            color: white;
        }
    }
}