<table>
    <tr>
        <th title="Position">#</th>
        <th title="Player name">Name</th>
        <th title="Team">Team</th>
        <th title="Goals">Goals</th>
    </tr>
    {{#each data}}
    <tr>
        <td>{{this.rank}}</td>
        <td class="align-left">{{this.name}}</td>
        <td class="align-left">{{this.team}}</td>
        <td>{{this.goals}}</td>
    </tr>
    {{/each}}
</table>