<h1>Football Dashboard</h1>

<div id="content"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/england/2015-2016"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/england/2014-2015"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/england/2013-2014"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/england/2012-2013"));
</script>