<style>
    table {
        margin-bottom: 15px;
    }
    
    table, th, td {
        border-collapse: collapse;
        border: 1px solid gray;
    }
    
    td {
        min-width: 26px;
        padding: 2px 4px;
        text-align: center;
    }
    
    td.main-information {
        width: 150px;
        text-align: left;
        
    }
</style>

<h1>Football Dashboard</h1>

<div id="content" class="free-wall"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/freewall/1.0.5/freewall.min.js"></script>

<script>
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/tables/premier-league/2015"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/tables/premier-league/2014"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/tables/premier-league/2013"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/tables/premier-league/2012"));    
    
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/scorers/premier-league/2015"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/scorers/ligue-1/2015"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/scorers/bundesliga/2015"));
    
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/assists/premier-league/2015"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/assists/ligue-1/2015"));
    $("#content").append($("<div class='cell' style='width:500px; height: 500px; background-color:white;'>").load("http://127.0.0.1:5000/assists/bundesliga/2015"));
    
    var wall = new Freewall("#content");
    wall.reset({
        draggable: true,
        selector: '.cell',
        animate: true,
        onResize: function() {
            wall.refresh();
        }
    });
    
    wall.fitWidth();    
    $(window).trigger("resize");
</script>
