<style>
    table {
        margin-bottom: 15px;
    }
    
    table, th, td {
        border-collapse: collapse;
        border: 1px solid gray;
    }
    
    td {
        min-width: 26px;
        padding: 2px 4px;
        text-align: center;
    }
    
    td.align-left {
        text-align: left;
    }
</style>

<h1>Football Dashboard</h1>

<div id="content"></div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
<script>
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/premier-league/2015"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/premier-league/2014"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/premier-league/2013"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/table/premier-league/2012"));    
    
    $("#content").append($("<div>").load("http://127.0.0.1:5000/scorer/premier-league/2015"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/scorer/ligue-1/2015"));
    $("#content").append($("<div>").load("http://127.0.0.1:5000/scorer/bundesliga/2015"));
</script>