<div class="dropdown-arrow icon-down-open" id="dropdown-arrow-years"></div>
<ul class="dropdown-content" id="dropdown-content-years">
    <% years.forEach((year) => { %>
        <li>
            <a class="year" href="/<%= requestedItem.code %>/<%= year %>">
                <%= year %>
            </a>
        </li>
    <% }); %>
</ul>