<div class="footer">
    <a class="footer-item" href="https://github.com/Softcadbury/DashboardFootball" target="_blank" rel="noopener" rel="noreferrer">
        <i class="icon-github"></i>
        GitHub
    </a>
    <a class="footer-item" href="https://www.facebook.com/dashboardfootball" target="_blank" rel="noopener" rel="noreferrer">
        <i class="icon-facebook"></i>
        Facebook
    </a>
    <a class="footer-item" href="https://plus.google.com/+dashboardfootball" target="_blank" rel="noopener" rel="noreferrer">
        <i class="icon-google"></i>
        Google+
    </a>
</div>