<div id="footer">
    <a class="footer-item" href="https://www.facebook.com/dashboardfootball" target="_blank">
        Facebook
    </a>
    <a class="footer-item" href="https://twitter.com/dashfootball" target="_blank">
        Twitter
    </a>
    <a class="footer-item" href="https://plus.google.com/b/105578315069355855687/105578315069355855687" target="_blank">
        Google+
    </a>
</div>