<div id="menu">
    <a class="menu-item menu-item-logo" href="/">
        <img src="/images/trophy-logo.png" alt="logo" />
    </a>
    {{#each leagues}}
    <a class="menu-item {{#if this.isActive}}menu-item-open{{/if}}" href="/{{this.code}}">
        <span>{{this.name}}</span>
    </a>
    {{/each}}
</div>