<div id="menu">
    <a class="menu-item menu-item-logo {{#if this.isIndex}}menu-item-open{{/if}}" href="/">
        <img src="/images/trophy-logo.png" alt="logo" />
    </a>
    {{#each leagues}}
    <a class="menu-item {{#if this.isActive}}menu-item-open{{/if}}" href="/{{this.code}}">
        <h2>{{this.name}}</h2>
    </a>
    {{/each}}
</div>