<div class="menu">
    <a class="menu-item menu-item-logo" href="/">
        <img src="/trophy-logo-48x48.png" alt="logo" />
    </a>
    <% items.forEach((item) => { %>
        <a class="menu-item <%= locals.requestedItem && item.code == requestedItem.code ? 'menu-item-open' : '' %>" href="/<%= item.code %>">
            <h2 class="menu-item-big">
                <%= item.name %>
            </h2>
            <h2 class="menu-item-small">
                <%= item.smallName %>
            </h2>
        </a>
    <% }); %>
</div>