<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{{title}}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=500, user-scalable=no" />
    <meta name="google-site-verification" content="aATT_f6PldxBk3EryS4fOnpyPi1bKXBaY65XXP8qLxU" />
    <meta name="msvalidate.01" content="4D14DCE33A7CA61F72054A4F9D6A4A04" />

    <!-- Description -->
    <meta name="description" content="Quick access to football results, tables, top scorers and top assists from major leagues and competitions (Champions League, Europa League, Bundesliga, Liga, Ligue 1, Premier League and Serie A)">
    <meta name="keywords" content="football, dashboard football, football results, football tables, football top scorers, football top assists, champions league, europa league, bundesliga, liga, ligue 1, premier league, serie a">

    <!-- Twitter -->
    <meta name="twitter:card" value="{{title}}">

    <!-- Facebook -->
    <meta property="og:title" content="{{title}}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://dashboardfootball.com" />
    <meta property="og:image" content="http://dashboardfootball.com/images/trophy-logo.png" />
    <meta property="og:description" content="Quick access to football results, tables, top scorers and top assists from major leagues and competitions" />
    <meta property="og:site_name" content="Dashboard Football" />

    <!-- Scripts & Styles -->
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
    <div class="wrapper">
        {{> menu }}
        <div class="content">
            {{{body}}}
        </div>
    </div>
    {{> footer }}
    {{> analytics }}
    {{> cookieConsent }}
</body>
</html>