<div id="league">
    {{> ad }}
    <div class="header-sub">
        <img src="/images/{{requestedItem.code}}.png" alt="logo {{requestedItem.name}}" />
        <h1>{{requestedItem.name}}<span class="year">{{requestedYear}}</span></h1>
        <div class="arrow"></div>
    </div>
    <br />
    {{> scorers }}
    {{> assists }}
</div>