<div id="league">
    {{> ad }}
    <div class="header-sub">
        <img src="/images/{{requestedItem.code}}.png" alt="Logo {{requestedItem.name}}" />
        <h1>{{requestedItem.name}}<span class="year" id="dropdown-label-years">{{requestedYear}}</span></h1>
        {{> dropdownYears }}
    </div>
    <br />
    {{> tournament }}
    {{> scorers }}
    {{> assists }}
</div>