<div id="league">
    {{> ad }}
    <div class="header-sub">
        <img src="/images/{{currentItem.code}}.png" alt="logo {{currentItem.name}}" />
        <h1>{{currentItem.name}}</h1>
    </div>
    <br />
    {{> group }}
</div>