<div id="league">
    {{> ad }}
    <div class="header-sub">
        <div class="header-icon icon-{{requestedItem.code}}"></div>
        <h1>
            {{requestedItem.name}}
            <span class="year" id="dropdown-label-years">{{requestedYear}}</span>
        </h1>
        {{> dropdownYears }}
    </div>
    <br />
    {{> tournament }}
    {{> groups }}
    <br />
    {{> scorers }}
    {{> assists }}
</div>