<div id="index">
    <div class="header-main">
        <h1>Dashboard Football</h1>
        <h3>
            Quick access to football results, tables, top scorers and top assists
            from major leagues and competitions
        </h3>
    </div>
    <div class="items">
        {{#each items}}
        <a class="item" href="/{{this.code}}{{#if this.currentRound}}/#/round-{{this.currentRound}}{{/if}}">
            <div class="item-icon icon-{{this.code}}"></div>
            <div class="item-title">
                <h2>{{this.name}}</h2>
            </div>
        </a>
        {{/each}}
    </div>
</div>  