<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Dashboard Football</title>
    <meta charset="utf-8">
    <meta name="description" content="Dashboard Football: quickly access to football results, tables, top scorers and top assists of major leagues">
    <meta name="viewport" content="width=500, user-scalable=no" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/images/favicon.ico" />
</head>
<body>
    <div id="menu">
        {{#each leagues}}
        <a class="menu-item {{#if this.isActive}}menu-item-open{{/if}}" href="/{{this.code}}">
            <span>{{this.name}}</span>
        </a>
        {{/each}}
    </div>    
    <div id="content">
        <div class="component-container">{{> results }}</div>        
        <div class="component-container">{{> table }}</div>
        <div class="component-container">{{> scorers }}</div>
        <div class="component-container">{{> assists }}</div>
    </div>
</body>
</html>