<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Football Dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="Football Dashboard">
    <meta name="author" content="Romain Parage">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.js"></script>
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <!-- endinject -->

    <!-- Styles -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery.gridster/0.5.6/jquery.gridster.css">
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/gridster.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/table.css">
    <!-- endinject -->
</head>
<body>
    <div id="grid-configuration">
        <div data-bind="foreach: components">
            <div class="grid-configuration-component">
                <span data-bind="text: league.name"></span>
                <div data-bind="css: { selected: displayTable }, click: function(){ displayTable(!displayTable()); }">Table</div>
                <div data-bind="css: { selected: displayTableMini }, click: function(){ displayTableMini(!displayTableMini()); }">Table mini</div>
                <div data-bind="css: { selected: displayScorers }, click: function(){ displayScorers(!displayScorers()); }">Scorers</div>
                <div data-bind="css: { selected: displayScorersMini }, click: function(){ displayScorersMini(!displayScorersMini()); }">Scorers mini</div>
                <div data-bind="css: { selected: displayAssists }, click: function(){ displayAssists(!displayAssists()); }">Assists</div>
                <div data-bind="css: { selected: displayAssistsMini }, click: function(){ displayAssistsMini(!displayAssistsMini()); }">Assists mini</div>
            </div>
        </div>
    </div>
	<div id="main">
        <div class="gridster"><div>
    </div>
</body>
</html>