<div id="index">
    <div class="header-main">
        <h1>Dashboard Football</h1>
        <h3>
            Quick access to football results, tables, top scorers and top assists
            from major leagues and competitions
        </h3>
    </div>
    <div class="items">
        {{#each items}}
        <a class="item" href="/{{this.code}}">
            <img src="/images/{{this.code}}.png" alt="logo {{this.name}}" />
            <h2>{{this.name}}</h2>
        </a>
        {{/each}}
    </div>
</div>