<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Football Dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="Football Dashboard">
    <meta name="author" content="Romain Parage">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="http://mfzy.co/packery.pkgd.js"></script>
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <!-- endinject -->

    <!-- Styles -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/configuration.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    <!-- endinject -->
</head>
<body>
    <div id="menu">
    </div>
    <div id="configuration">
        <div data-bind="foreach: components">
            <div class="configuration-league">
                <span data-bind="text: league.name"></span>
                <div data-bind="css: { selected: displayTable }, click: function(){ displayTable(!displayTable()); }">Table</div>
                <div data-bind="css: { selected: displayTableMini }, click: function(){ displayTableMini(!displayTableMini()); }">Table mini</div>
                <div data-bind="css: { selected: displayScorers }, click: function(){ displayScorers(!displayScorers()); }">Scorers</div>
                <div data-bind="css: { selected: displayScorersMini }, click: function(){ displayScorersMini(!displayScorersMini()); }">Scorers mini</div>
                <div data-bind="css: { selected: displayAssists }, click: function(){ displayAssists(!displayAssists()); }">Assists</div>
                <div data-bind="css: { selected: displayAssistsMini }, click: function(){ displayAssistsMini(!displayAssistsMini()); }">Assists mini</div>
                <div data-bind="css: { selected: displayResults }, click: function(){ displayResults(!displayResults()); }">Results</div>
            </div>
        </div>
    </div>
	<div id="content"></div>
</body>
</html>