<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Football Dashboard</title>
    <meta charset="utf-8">
    <meta name="description" content="Football Dashboard">
    <meta name="author" content="Romain Parage">

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.3.0/knockout-min.js"></script>
    <script src="http://mfzy.co/packery.pkgd.js"></script>
    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <!-- endinject -->

    <!-- Styles -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/components.css">
    <link rel="stylesheet" href="/css/configuration.css">
    <link rel="stylesheet" href="/css/content.css">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/menu.css">
    <!-- endinject -->
</head>
<body>
    <div id="menu">
        <div class="menu-item" data-bind="click: toggleConfigurationVisibility, css: { 'menu-item-open': isConfigurationToggled}">
            Configuration
        </div>
    </div>
    <div id="configuration">
        <div data-bind="foreach: configurationLeagues">
            <div class="configuration-league">
                <img class="configuration-league-logo" data-bind="attr: { src: './' + league.code + '/images/logo.png' }" />
                <span class="configuration-league-name" data-bind="text: league.name"></span>
                <div class="configuration-components" data-bind="foreach: configurationComponents">
                    <div data-bind="css: { selected: isDisplayed }, click: toggleDisplayValue">
                        <span data-bind="text: name"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="content"></div>
</body>
</html>