<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Dashboard Football - Quick access to {{currentLeague.name}} results</title>
    <meta charset="utf-8">
    <meta name="description" content="Quick access to football results, tables, top scorers and top assists from major leagues: Bundesliga, Liga, Ligue 1, Premier League and Serie A">
    <meta name="keywords" content="football, dashboard football, football results, football tables, football top scorers, football top assists, bundesliga, liga, ligue 1, premier league, serie a">
    <meta name="viewport" content="width=500, user-scalable=no" />
    <meta name="google-site-verification" content="aATT_f6PldxBk3EryS4fOnpyPi1bKXBaY65XXP8qLxU" />
    <meta name="msvalidate.01" content="4D14DCE33A7CA61F72054A4F9D6A4A04" />
    <link rel="stylesheet" href="/css/app.css">
    <link rel="icon" href="/images/favicon.ico" />
</head>
<body id="league">
    {{> menu }}
    <div class="content">
        {{> ad }}
        <div class="header">
            <img src="/images/{{currentLeague.code}}.png" alt="logo {{currentLeague.name}}" />
            <h1>{{currentLeague.name}}</h1>
        </div>
        <br />
        {{> results }}
        {{> table }}
        {{> scorers }}
        {{> assists }}
    </div>
    {{> footer }}
    {{> analytics }}
    {{> cookieConsent }}
</body>
</html>