<div id="league">
    {{> menu }}
    <div class="content">
        {{> ad }}
        <div class="header">
            <img src="/images/{{currentItem.code}}.png" alt="logo {{currentItem.name}}" />
            <h1>{{currentItem.name}}</h1>
        </div>
        <br />
        {{> results }}
        {{> table }}
        {{> scorers }}
        {{> assists }}
    </div>
    {{> footer }}
    {{> analytics }}
    {{> cookieConsent }}
</div>