<script src="https://cdnjs.cloudflare.com/ajax/libs/highcharts/7.1.1/highcharts.js" integrity="sha256-O5kijMW4yuKUTmtSzMwUv8ziygKdBLRB8vUzoTau/AQ=" crossorigin="anonymous"></script>

<div id="charts">
    <div id="chart"></div>
</div>

<script>
    Highcharts.chart('chart', {
        series: <%- JSON.stringify(datasets) %>,
        credits: false,
        title: {
            text: 'Number of points by rounds'
        },
        yAxis: {
            title: {
                text: 'Number of points'
            }
        },
        tooltip: {
            headerFormat: '<span style="font-size: 13px">{series.name}</span><br/>',
            pointFormat: '{point.y} points on round {point.x}'
        },
        plotOptions: {
            line: {
                pointStart: 1,
                marker: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            }
        }
    });
</script>