<footer>
    <a class="footer-item" href="https://github.com/Softcadbury/FootballPeek" target="_blank" rel="noopener noreferrer">
        <i class="icon-github"></i>
        GitHub
    </a>
    <a class="footer-item" href="https://www.facebook.com/footballpeek" target="_blank" rel="noopener noreferrer">
        <i class="icon-facebook"></i>
        Facebook
    </a>
    <a class="footer-item" href="https://plus.google.com/105578315069355855687" target="_blank" rel="noopener noreferrer">
        <i class="icon-google"></i>
        Google+
    </a>
</footer>