{{#if assistsData.length}}
<div class="component-container">
    <table class="component component-big">
        <tr>
            <td colspan="4">
                <div class="component-title">
                    <h3>Top Assists</h3>
                </div>
            </td>
        </tr>
        <tr>
            <th title="Position">#</th>
            <th class="component-main-column" title="Player name">Name</th>
            <th class="component-main-column" title="Team">Team</th>
            <th title="Goals">Goals</th>
        </tr>
        {{#each assistsData}}
        <tr>
            <td>{{this.rank}}</td>
            <td class="component-main-column">
                <span>{{this.name}}</span>
            </td>
            <td class="component-main-column">
                <span>{{this.team}}</span>
            </td>
            <td>{{this.goals}}</td>
        </tr>
        {{/each}}
    </table>
</div>
{{/if}}