<script>
    window.currentRound = {{currentRound}};
    window.numberOfRounds = {{resultsData.length}};
</script>

{{#if resultsData.length}}
<div class="component-container">
    <ul class="dropdown-content" id="dropdown-content-rounds">
        {{#each resultsData}}
        <li>
            <a href="#/round-{{this.round}}">Round {{this.round}}</a>
        </li>
        {{/each}}
    </ul>
    <table class="component">
        <tr>
            <td colspan="5">
                <div class="component-title">
                    <a class="icon-left-open" id="arrow-rounds-previous" href="#/" title="Previous round"></a>
                    <h3 class="dropdown-label" id="dropdown-label-rounds">Round {{currentRound}}</h3>
                    <div class="dropdown-arrow icon-down-open" id="dropdown-arrow-rounds"></div>
                    <a class="icon-right-open" id="arrow-rounds-next" href="#/" title="Next round"></a>
                </div>
            </td>
        </tr>
        {{#each resultsData}}
            {{#each this.matches}}
            <tr class="round-content round-{{../round}}-content" style="display:none;">
                <td>{{this.displayDate}}</td>
                <td class="component-column-main component-column-right">
                    <span title="{{this.homeTeam}}">{{this.homeTeam}}</span>
                    <div class="icon-logo icon-{{this.homeTeamLogo}}" title="{{this.homeTeam}}"></div>
                </td>
                <td class="component-column-score">
                    {{this.score}}
                </td>
                <td class="component-column-main">
                    <div class="icon-logo icon-{{this.awayTeamLogo}}" title="{{this.awayTeam}}"></div>
                    <span title="{{this.awayTeam}}">{{this.awayTeam}}</span>
                </td>
                <td class="component-column-score">
                    <a href="https://www.youtube.com/results?search_query=highlights {{this.date}} {{this.homeTeam}} {{this.awayTeam}} {{this.score}}" target="_blank" rel="nofollow" title="Watch highlights">
                        <i class="icon-television"></i>
                    </a>
                </td>
            </tr>
            {{/each}}
        {{/each}}
    </table>
</div>
{{/if}}