<table class="component component-large">
    <tr>
        <td colspan="10">
            <div class="component-title">
                <h1>Results</h1>
            </div>
        </td>
    </tr>
    <tr><th title="Date">Date</th>
        <th class="component-main-column"></th>
        <th title="Score">Score</th>
        <th class="component-main-column"></th>
    </tr>
    {{#each resultsData}}
    <tr>
        <td>{{this.date}}</td>
        <td class="component-main-column component-right-column">
            <span>{{this.homeTeam}}</span>
        </td>
        <td>{{this.score}}</td>
        <td class="component-main-column">
            <span>{{this.awayTeam}}</span>
        </td>
    </tr>
    {{/each}}
</table>